/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/07/2015, 11:07:31 AM
    Author     : admin
*/

.header {
    background-color: #C1544A;
    display: block;
    /* [disabled]overflow: hidden; */
    height: 55px;
    clear: both;
}
.header .head .headLeft {
    float: left;
    /* [disabled]background-color: #FF0000; */
}
.header .head .headLeft h1 {
    background-image: url("../images/escudo.png" );
    background-repeat: no-repeat;
    background-position: left top;
    display: block;
    overflow: hidden;
    height: 105px;
    padding-left: 140px;
    width: 100%;
    color: #FFFFFF;
    font-size: 140%;
    font-variant: normal;
    font-weight: normal;
    padding-top: 20px;
}

.header .head .headLeft h1 .title{
    text-decoration: none;
    color: #FFFFFF;
}
.header .head .headLeft .menu {
    float: left;
    display: block;
    width: 100%;
    padding: 30px 0px 10px 0px;
}
.header .head .headLeft h1 .menu li a {
    text-decoration: none;
    font-size: 1px;
    text-indent: -9999px;
    display: block;
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.header .head .headLeft h1 .menu li .addoc {
    background-image: url("../images/ico-adddoc.png" );
}
.header .head .headLeft h1 .menu li .crearqr {
    background-image: url("../images/ico-creaqr.png" );
}
.header .head .headLeft h1 .menu li .evidencia {
    background-image: url("../images/ico-evidencias.png" );
}
.header .head .headRight {
    display: block;
    float: right;
    /* [disabled]background-color: #00FF00; */
    width: 50%;
}
.header .head .headRight .recep li a {
    text-decoration: none;
    /* [disabled]font-size: 1px; */
    color: #FFFFFF;
    /* [disabled]text-indent: -9999px; */
    display: block;
    /* [disabled]overflow: hidden; */
    height: 35px;
    /* [disabled]width: 35px; */
    float: right;
    margin-left: 10px;
    /* [disabled]background-color: #D34A46; */
}
.header .head .headRight .recep li .username {
    background-image: url("../images/ico-user.png" );
    background-repeat: no-repeat;
    background-position: right center;
    height: 40px;
    width: 120px;
    margin-top: 10px;
    line-height: 40px;
    color: #C1544A;
}
.header .head .headRight .recep li .username:hover {

    color: #fff;
}
.header .head .headRight .recep li .salir {
    background-image: url("../images/ico-salir.png" );
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 1px;
    color: #C1544A;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-top: 10px;
}
.header .wrapper {
    display: block;
    clear: both;
    padding-top: 20px;
    /* [disabled]color: #BF5349; */
    /* [disabled]font-weight: 300; */
    /* [disabled]font-size: 40px; */
    overflow: visible;
    padding-bottom: 60px;
}
.header .wrapper .wrap {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.header .wrapper .wrap h2{
    display: block;
    clear: both;
    padding-top: 20px;
    color: #BF5349;
    font-weight: 300;
    font-size: 40px;
}
.header .wrapper .wrap .status {
    /* [disabled]background-color: #0033FF; */
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
}
.header .wrapper .wrap .status li {
    float: left;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.header .wrapper .wrap .status li a {
    text-decoration: none;
}

.header .wrapper .wrap .status li .todos {
    color: #323232;
}
.header .wrapper .wrap .status li .cerrado {
    color: #8cc63f;
}
.header .wrapper .wrap .status li .proceso {
    color: #ff931e;
}
.header .wrapper .wrap .status li .abierto {
    color: #c1272d;
}
.header .wrapper .wrap #zebra {
    display: block;
    padding-top: 40px;
    padding-bottom: 20px;
    overflow: hidden;
}
.header .wrapper .wrap #zebra tr {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}
.header .wrapper .wrap #zebra tr td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 2px;
    padding-left: 2px;
}
.header .wrapper .wrap #zebra tr td .razon {
    display: block;
    font-size: 110%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header .wrapper .wrap #zebra tr td .idqr {
    display: block;
    font-size: 12px;
}
.header .wrapper .wrap #zebra tr td .idqr2 {
    display: block;
    font-size: 120%;
    margin-top: 10px;
}
.header .wrapper .wrap #zebra tr td .acti {
    display: block;
    font-size: 11px;
}
.header .wrapper .wrap #zebra tr td .abierto {
    text-decoration: none;
    background-color: #c1272d;
    height: 20px;
    width: 20px;
    display: block;
    font-size: 1px;
    color: #FFFFFF;
    text-indent: -9999px;
    margin-right: 20px;
    margin-left: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.header .wrapper .wrap #zebra tr td .proceso {
    text-decoration: none;
    background-color: #ff931e;
    height: 20px;
    width: 20px;
    display: block;
    font-size: 1px;
    color: #FFFFFF;
    text-indent: -9999px;
    margin-right: auto;
    margin-left: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.header .wrapper .wrap #zebra tr td .cerrado {
    text-decoration: none;
    background-color: #00CC33;
    height: 20px;
    width: 20px;
    display: block;
    font-size: 1px;
    color: #FFFFFF;
    text-indent: -9999px;
    margin-right: auto;
    margin-left: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.header .wrapper .wrap #zebra tr td .location {
    font-size: 1px;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    /*text-indent: -9999px;*/
    background-image: url("../images/ico-location.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: center top;
}
.header .wrapper .wrap #zebra tr td .location:hover {
    font-size: 1px;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    /*text-indent: -9999px;*/
    background-image: url("../images/ico-location.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: center bottom;
}
.header .wrapper .wrap #zebra tr td .correo {
    font-size: 1px;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    /*text-indent: -9999px;*/
    background-image: url("../images/ico-correo.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: center top;
}
.header .wrapper .wrap #zebra tr td .correo:hover {
    font-size: 1px;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    /* text-indent: -9999px;*/
    background-image: url("../images/ico-correo.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: center bottom;
}
.header .wrapper .wrap #zebra tr td .phone {
    font-size: 1px;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    /*text-indent: -9999px;*/
    background-image: url("../images/ico-phone.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: center top;
}
.header .wrapper .wrap #zebra tr td .phone:hover {
    font-size: 1px;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    /* text-indent: -9999px;*/
    background-image: url("../images/ico-phone.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: center bottom;
}
.header .wrapper .wrap #zebra tr td .agenda {
    font-size: 1px;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    text-indent: -9999px;
    background-image: url("../images/ico-agenda.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: center top;
}
.header .wrapper .wrap #zebra tr td .agenda:hover {
    font-size: 1px;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    text-indent: -9999px;
    background-image: url("../images/ico-agenda.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: center bottom;
}

.header .wrapper .wrap #zebra tr td .cerrar-tramite {
    font-size: 1px;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    text-indent: -9999px;
    background-image: url("../images/ico-cerrartramite.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: center top;
}
.header .wrapper .wrap #zebra tr td .cerrar-tramite:hover {
    font-size: 1px;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    text-indent: -9999px;
    background-image: url("../images/ico-cerrartramite.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: center bottom;
}
.header .wrapper .wrap #zebra tr td .imprimir {
    /*font-size: 1px;
    */
    text-decoration: none;
    display: block;
    height: 40px;
    /* width: 40px; */
    /* text-indent: -9999px; */
    background-image: url("../images/ico-printer.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: top center;
    float: left;
    background-repeat: no-repeat;
    padding-right: 50px;
    line-height: 45px;
    color: #8cc63f;
    padding-left: 25px;
}

.header .wrapper .wrap #zebra tr td .imprimir2 {
    /*font-size: 1px;
    */
    text-decoration: none;
    display: block;
    height: 40px;
    /* width: 40px; */
    /* text-indent: -9999px; */
    background-image: url("../images/ico-printer.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: center bottom;
    float: left;
    background-repeat: no-repeat;
    padding-right: 50px;
    line-height: 45px;
    color: #8cc63f;
    padding-left: 25px;
}

.header .wrapper .wrap #zebra tr td .evidence {
    font-size: 1px;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    /*text-indent: -9999px;*/
    background-image: url("../images/ico-pic.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: center top;
}
.header .wrapper .wrap #zebra tr td .evidence:hover {
    font-size: 1px;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    /*text-indent: -9999px;*/
    background-image: url("../images/ico-pic.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: center bottom;
}


.header .wrapper .wrap .label   {
    font-size: 12px;
    display: block;
    padding-bottom: 5px;
}
.header .wrapper .wrap .creartramite .registro {
    /* [disabled]background-color: #CCCCCC; */
    overflow: hidden;
    width: 45%;
    padding-right: 5%;
    float: left;
    padding-bottom: 20px;
}
.header .wrapper .wrap .creartramite .captura1  {
    background-color: #FFFFCC;
    border: solid 1px #aaa;
    border-radius: 3px;
    padding: 0px 5%;
    font-size: 100%;
    color: #825422;
    font-family: Roboto;
    font-weight: 300;
    width: 80%;
    height: 35px;
    display: block;
}

.header .wrapper .wrap .creartramite select.captura1 {
    background-color: #FFFFCC;
    border: solid 1px #aaa;
    border-radius: 3px;
    padding: 0px 5%;
    font-size: 100%;
    color: #825422;
    font-family: Roboto;
    font-weight: 300;
    width:90%;
    height: 37px;
    display: block;
}
.header .wrapper .wrap .boxed  {
    display: block;
    clear: both;
    /* [disabled]background-color: #99FF00; */
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header .wrapper .wrap .creartramite .guardar {
    text-decoration: none;
    height: 85px;
    width: 85px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/ico-guardar.png" );
    background-repeat: no-repeat;
    background-position: center top;
    color: #FFFFFF;
    /* [disabled]background-color: #CCCCCC; */
    font-size: 1px;
    text-indent: -9999px;
}
.header .wrapper .wrap .creartramite .crearqr {
    text-decoration: none;
    height: 85px;
    width: 85px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/ico-crearqr.png" );
    background-repeat: no-repeat;
    background-position: center top;
    color: #FFFFFF;
    /* [disabled]background-color: #CCCCCC; */
    font-size: 1px;
    text-indent: -9999px;
}
.header .wrapper .wrap .creartramite .agendar {
    text-decoration: none;
    height: 85px;
    width: 85px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/ico-agendar.png" );
    background-repeat: no-repeat;
    background-position: center top;
    color: #FFFFFF;
    /* [disabled]background-color: #CCCCCC; */
    font-size: 1px;
    text-indent: -9999px;
}
.header .wrapper .wrap .creartramite .reagendar {
    text-decoration: none;
    height: 85px;
    width: 85px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/ico-reagendar.png" );
    background-repeat: no-repeat;
    background-position: center top;
    color: #FFFFFF;
    /* [disabled]background-color: #CCCCCC; */
    font-size: 1px;
    text-indent: -9999px;
}
.header .wrapper .wrap .creartramite .boxed h3  {
    color: #323232;
    font-size: 150%;
    font-weight: 300;
    padding-bottom: 20px;
}
.header .wrapper .wrap .creartramite .boxed h4  {
    color: #C1544A;
    font-size: 115%;
    font-weight: 300;
    padding-bottom: 5px;
    padding-top: 10px;
}
.header .wrapper .wrap .creartramite .boxed h5  {
    color: #111;
    font-size: 115%;
    font-weight: 300;
    padding-bottom: 5px;
    padding-top: 10px;
}
.header .wrapper .wrap .creartramite .boxed .boxedleft p {
    display: block;
    font-size: 90%;
    padding-bottom: 10px;
    color: #9a9a9a;
    font-weight: 300;
    line-height: 18px;
}
.header .wrapper .wrap .creartramite .boxed .boxedleft .inspector {
    padding-top: 10px;
    padding-bottom: 10px;
}
.header .wrapper .wrap .creartramite .boxed .boxedleft .fechas {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header .wrapper .wrap .creartramite .boxed .boxedleft {
    float: left;
    width: 75%;
}
.header .wrapper .wrap .creartramite .boxed .boxedleft .inpectorocupado     {
    color: #c1544a;
    padding: 10px;
    display: block;
    clear: both;
}
.header .wrapper .wrap .creartramite .boxed .boxedleft .inpectorodisponible     {
    color: #8cc63f;
    padding: 10px;
    display: block;
    clear: both;
}
.header .wrapper .wrap .creartramite .boxed .boxedleft .verify  {
    padding-bottom: 30px;
    padding-top: 30px;
}
.header .wrapper .wrap .creartramite .boxed .boxedleft .verify .red {
    color: #C1544A;
    font-size: 133%;
    font-weight: 100;
    line-height: 30px;
    padding-bottom: 30px;
    padding-right: 20%;
}
.header .wrapper .wrap .creartramite .boxed .boxedleft .fechas .registro .data2 {
    float: left;
    width: 33%;
}
.header .wrapper .wrap .creartramite .boxed .boxedright {
    float: right;
    width: 25%;
}
.header .wrapper .wrap .creartramite .boxed .boxedright ul li a {
    color: #808080;
    text-decoration: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    font-size: 85%;
    background-image: url("../images/ico-agendam.png" );
    background-repeat: no-repeat;
    background-position: left top;
    margin-bottom: 10px;
}
.header .wrapper .wrap .creartramite .boxed .boxedright ul li .agendahoy {
    color: #C1544A;
    background-position: left bottom;
}
/**
 * Demo styles
 * Not needed for tooltips to work
 */


a, a:hover {
    text-decoration: none;
}


/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px
}
.pagination>li {
    display: inline
}
.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}
.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 3;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7
}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}
.pagination-lg>li>a,
.pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333
}
.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px
}
.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px
}
.pagination-sm>li>a,
.pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}
.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}
.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none
}
.pager li {
    display: inline
}
.pager li>a,
.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px
}
.pager li>a:focus,
.pager li>a:hover {
    text-decoration: none;
    background-color: #eee
}
.pager .next>a,
.pager .next>span {
    float: right
}
.pager .previous>a,
.pager .previous>span {
    float: left
}
.pager .disabled>a,
.pager .disabled>a:focus,
.pager .disabled>a:hover,
.pager .disabled>span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff
}

.pagination li .text{
    float: left;
    margin: 0 5px;
    line-height: 39px;
    font-size: 12px;
}

.ui-autocomplete.autocomplete-captura1 .ui-inputfield{
    background-color: #FFFFCC;
    border: solid 1px #aaa;
    border-radius: 3px;
    padding: 0px 5%;
    font-size: 100%;
    color: #825422;
    font-family: Roboto;
    font-weight: 300;
    width: 80%;
    height: 35px;
    display: block;
}

.ui-inputNum.input-num-captura1 .ui-inputfield{
    background-color: #FFFFCC;
    border: solid 1px #aaa;
    border-radius: 3px;
    padding: 0px 5%;
    font-size: 100%;
    color: #825422;
    font-family: Roboto;
    font-weight: 300;
    width: 80%;
    height: 35px;
    display: block;
}
/*
.wrapper .wrap h3    {
    height: 40px;
    width: 45px;
    padding: 5px;
    border: 1px solid transparent;
    text-align: center;
    color: #000000;
    font-weight: 300;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding-top: 10px;
    font-size: 16px;
    background-color: #F6CF4C;
    margin: 0px auto;
}
.wrapper .wrap #zebra h3 span    {
    display: block;
    font-weight: 100;
    color: #333333;
    font-size: 11px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 12px;
    padding-top: 5px;
}
*/
.header .wrapper .wrap .label   {
    font-size: 12px;
    display: block;
    padding-bottom: 5px;
}

.header .wrapper .wrap .belt {
    clear: both;
    display: block;
    float: none;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 20px;
}
.header .wrapper .wrap .belt .evidencias {
    /* [disabled]background-color: #00FFCC; */
    float: left;
    width: 50%;
}
.header .wrapper .wrap .belt .evidencias li .evidextin {
    color: #808080;
    text-decoration: none;
    font-size: 22px;
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    padding-right: 10px;
    padding-left: 10px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #D6D6D6;
}
.header .wrapper .wrap .belt .evidencias li .evidfotos {

    color: #808080;
    text-decoration: none;
    font-size: 22px;
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    padding-right: 10px;
    padding-left: 10px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #F1F1F2;
}
.header .wrapper .wrap .belt .evidencias li .evidextinactive {
    color: #808080;
    text-decoration: none;
    font-size: 22px;
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    padding-right: 10px;
    padding-left: 10px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #D6D6D6;
}
.header .wrapper .wrap .belt .evidencias li .evidfotosactive {
    color: #808080;
    text-decoration: none;
    font-size: 22px;
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    padding-right: 10px;
    padding-left: 10px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #F1F1F2;
}
.header .wrapper .wrap .belt .vistaevid {
    float: right;
    width: 50%;
    text-align: right;
}
.header .wrapper .wrap .belt .vistaevid li {
    clear: none;
    float: right;
    margin-left: 10px;
}
.header .wrapper .wrap .belt .vistaevid li .vistalista {
    background-image: url("../images/ico-vistalista.png");
    display: block;
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    color: #FFFFFF;
    text-decoration: none;
    text-indent: -9999px;
    font-size: 1px;
}
.header .wrapper .wrap .belt .vistaevid li .vistaminia {
    background-image: url("../images/ico-vistaminia.png" );
    display: block;
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    color: #FFFFFF;
    text-decoration: none;
    text-indent: -9999px;
    font-size: 1px;
}
.header .wrapper .wrap .evidenfotos li a {
    float: left;
    width: 16%;
    margin-right: 2%;
    margin-left: 2%;
    display: block;
    padding-bottom: 30px;
}
.header .wrapper .wrap .evidenfotos li a img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.header .wrapper .wrap .belt .evidencias li a.active{
    color: #3fa9f5;
}

.header .wrapper .wrap .ico-agregar-empresa{
    background-image: url("../images/ico-agregarempresa.png" );
    display: block;
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: center center;
    color: #FFFFFF;
    text-decoration: none;
    text-indent: -9999px;
    font-size: 1px;
}

.header .wrapper .wrap .creartramite .guardar-empresa {
    text-decoration: none;
    height: 85px;
    width: 85px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/ico-agregaremp.png" );
    background-repeat: no-repeat;
    background-position: center top;
    color: #FFFFFF;
    /* [disabled]background-color: #CCCCCC; */
    font-size: 1px;
    text-indent: -9999px;
}


.header .wrapper .wrap .creartramite .cerrar-dialog {
    font-size: 1px;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    text-indent: -9999px;
    background-image: url("../images/ico-cerrarventana.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: center top;
}

.header .wrapper .wrap .creartramite .cerrar-dialog:hover {
    font-size: 1px;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    text-indent: -9999px;
    background-image: url("../images/ico-cerrarventana.png" );
    margin-right: 10px;
    margin-left: 10px;
    background-position: center bottom;
}

.header .wrapper .wrap .creartramite .guardar-qr {
    text-decoration: none;
    height: 85px;
    width: 85px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/ico-guardarQR.png" );
    background-repeat: no-repeat;
    background-position: center top;
    color: #FFFFFF;
    /* [disabled]background-color: #CCCCCC; */
    font-size: 1px;
    text-indent: -9999px;
}

.header .wrapper .wrap .creartramite .buscar {
    text-decoration: none;
    height: 85px;
    width: 85px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/ico-buscar.png" );
    background-repeat: no-repeat;
    background-position: center top;
    color: #FFFFFF;
    /* [disabled]background-color: #CCCCCC; */
    font-size: 1px;
    text-indent: -9999px;
}