<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="content">
            <div class="creartramite">
                <h2>Crear Emergencia</h2>
                <h:form prependId="false"
                        id="formCrear">

                    <p:messages closable="true"/>

                    <div class="boxed">
                        <div class="registro">
                            <div class="label">Dirección</div>
                            <div class="data">
                                <h:inputText value="#{formularioController.caso.direccion}"
                                             styleClass="captura1"
                                             required="true"
                                             requiredMessage="El campo dirección es requerido"/>
                            </div>
                        </div>
                        <div class="registro">
                            <div class="label">Nombre de contacto</div>
                            <div class="data">
                                <h:inputText value="#{formularioController.caso.nombreContacto}"
                                             styleClass="captura1"
                                             required="true"
                                             requiredMessage="El campo nombre de contacto es requerido"/>
                            </div>
                        </div>
                        <div class="registro">
                            <div class="label">Punto de referencia</div>
                            <div class="data">
                                <h:inputText value="#{formularioController.caso.puntoReferencia}"
                                             styleClass="captura1"
                                             required="true"
                                             requiredMessage="El campo dirección es requerido"/>
                            </div>
                        </div>
                        <div class="registro">
                            <div class="label">Descripción</div>
                            <div class="data">
                                <h:inputText value="#{formularioController.caso.descripcion}"
                                             styleClass="captura1"
                                             required="true"
                                             requiredMessage="El campo dirección es requerido"/>
                            </div>
                        </div>

                    </div>
                    <p:commandLink value="Guardar"
                                   styleClass="guardar"
                                   action="#{formularioController.guardar()}"
                                   update=":formCrear"
                                   />
                </h:form>

            </div>   
        </ui:define>
    </ui:composition>

</html>

