<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition template="/templates/template_secure.xhtml">

        <ui:define name="content">

            <div class="creartramite"
                 id="agendar_tramite">
                <h2>Agendar</h2>
                <h:form id="agenda" prependId="false">

                    <div class="boxed">

                        <p:messages autoUpdate="true" closable="true"/>

                        <div class="boxedleft">
                            <h3> #{agendarTramiteController.tramite.empresa.razonSocial}, #{agendarTramiteController.tramite.empresa.nit}</h3>
                            <p>
                                #{agendarTramiteController.tramite.nombre}, #{agendarTramiteController.tramite.identificacion}<br />
                                #{agendarTramiteController.tramite.empresa.direccion}
                                <h:outputText value=", #{agendarTramiteController.tramite.telefono}"
                                              rendered="#{agendarTramiteController.tramite.telefono != null} "/>
                                <h:outputText value=", #{agendarTramiteController.tramite.celular}"
                                              rendered="#{agendarTramiteController.tramite.celular != null} "/>
                                <h:outputText value=", #{agendarTramiteController.tramite.email}"
                                              rendered="#{agendarTramiteController.tramite.email != null} "/>
                                <br />
                                <h:outputText value="#{agendarTramiteController.tramite.tipoTramite.nombre}"/>
                            </p>
                            <div class="inspector">
                                <h:selectOneMenu value="#{agendarTramiteController.agendamiento.recursoHumano}"
                                                 converter="resoRecursosHumanosConverter"
                                                 styleClass="captura1">
                                    <f:selectItems value="#{agendarTramiteController.listaRecursosHumanos}"
                                                   var="item"
                                                   itemLabel="#{item.usuario.persona.nombre} #{item.usuario.persona.apellido}"
                                                   itemValue="#{item}" 
                                                   />
                                </h:selectOneMenu>

                            </div>
                            <div class="fechas">
                                <div class="registro">
                                    <div class="label">Fecha</div>
                                    <div class="data2">
                                        <h:selectOneMenu value="#{agendarTramiteController.day}"
                                                         styleClass="captura1">
                                            <f:selectItems value="#{agendarTramiteController.days}"
                                                           var="d"
                                                           itemLabel="#{d}"
                                                           itemValue="#{d}"/>
                                        </h:selectOneMenu>

                                    </div>
                                    <div class="data2">
                                        <h:selectOneMenu value="#{agendarTramiteController.month}"
                                                         styleClass="captura1"
                                                         required="true"
                                                         requiredMessage="El campo mes es requerido"
                                                         >
                                            <f:selectItem itemLabel="Enero" itemValue="0" />
                                            <f:selectItem itemLabel="Febrero" itemValue="1" />
                                            <f:selectItem itemLabel="Marzo" itemValue="2" />
                                            <f:selectItem itemLabel="Abril" itemValue="3" />
                                            <f:selectItem itemLabel="Mayo" itemValue="4" />
                                            <f:selectItem itemLabel="Junio" itemValue="5" />
                                            <f:selectItem itemLabel="Julio" itemValue="6" />
                                            <f:selectItem itemLabel="Agosto" itemValue="7" />
                                            <f:selectItem itemLabel="Septiembre" itemValue="8" />
                                            <f:selectItem itemLabel="Octubre" itemValue="9" />
                                            <f:selectItem itemLabel="Noviembre" itemValue="10" />
                                            <f:selectItem itemLabel="Diciembre" itemValue="11" />
                                        </h:selectOneMenu>

                                    </div>
                                    <div class="data2">
                                        <h:selectOneMenu value="#{agendarTramiteController.year}"
                                                         styleClass="captura1">
                                            <f:selectItems value="#{agendarTramiteController.years}"
                                                           var="y"
                                                           itemLabel="#{y}"
                                                           itemValue="#{y}"/>
                                        </h:selectOneMenu>

                                    </div>
                                </div>
                                <div class="registro">
                                    <div class="label">Hora</div>
                                    <div class="data2">
                                        <h:selectOneMenu value="#{agendarTramiteController.hour}"
                                                         styleClass="captura1">
                                            <f:selectItems value="#{agendarTramiteController.hours}"
                                                           var="h"
                                                           itemLabel="#{h}"
                                                           itemValue="#{h}"/>
                                        </h:selectOneMenu>

                                    </div>
                                    <div class="data2">
                                        <h:selectOneMenu value="#{agendarTramiteController.minute}"
                                                         styleClass="captura1">
                                            <f:selectItems value="#{agendarTramiteController.minutes}"
                                                           var="m"
                                                           itemLabel="#{m}"
                                                           itemValue="#{m}"/>
                                        </h:selectOneMenu>


                                    </div>
                                    <div class="data2">
                                        <h:selectOneMenu value="#{agendarTramiteController.am}"
                                                         styleClass="captura1"
                                                         >
                                            <f:selectItem itemLabel="AM" itemValue="1" />
                                            <f:selectItem itemLabel="PM" itemValue="0" />

                                        </h:selectOneMenu>
                                    </div>

                                </div>
                            </div>
                            <p:outputPanel rendered="false">
                                <span class="inpectorocupado">Ocupado</span> <span class="inpectorodisponible">Disponible</span>
                            </p:outputPanel>

                            <p:outputPanel id="result">
                                <p:outputPanel rendered="#{agendarTramiteController.agendado}">
                                    <div class="verify">
                                        <p>Su fecha de visita será agendada para el próximo:</p>
                                        <p class="red">
                                            #{agendarTramiteController.mensaje}

                                        </p>
                                    </div>
                                </p:outputPanel>
                            </p:outputPanel>


                        </div>
                        <div class="boxedright">
                            <h3>Agenda</h3>
                            <ui:repeat value="#{agendarTramiteController.listaAgenda}"
                                       var="item">
                                <h5>
                                    <h:outputText value="#{item.fecha}">
                                        <f:convertDateTime pattern="MMMM, yyyy"/>
                                    </h:outputText>
                                </h5>
                                <ul>
                                    <ui:repeat value="#{item.listaDetalle}"
                                               var="det">
                                        <li>
                                            <a href="#">
                                                <h:outputText value="#{det.fechaVisita}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy hh:mm a"/>
                                                </h:outputText>,
                                                <h:outputText value="#{det.recursoHumano.usuario.persona.nombre} #{det.recursoHumano.usuario.persona.apellido}"/>
                                                

                                            </a>
                                        </li>
                                    </ui:repeat>
                                </ul>

                            </ui:repeat>

                        </div>



                    </div>

                    <p:commandLink styleClass="agendar"
                                   value="Agendar"
                                   action="#{agendarTramiteController.agendar()}"
                                   rendered="#{(agendarTramiteController.listaAgenda.size() > 1) == false}"
                                   update=":agenda"/>

                    <p:commandLink styleClass="reagendar"
                                   value="Agendar"
                                   action="#{agendarTramiteController.agendar()}"
                                   rendered="#{agendarTramiteController.listaAgenda.size() > 1}"
                                   update=":agenda"/>

                </h:form>
            </div>
        </ui:define>
    </ui:composition>
</html>
