<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition template="/templates/template_secure.xhtml">

        <ui:define name="content">

            <div class="creartramite">
                <h2>Crear Trámite</h2>

                <h:form prependId="false"
                        id="form_crear_tramite">
                    <div class="boxed">

                        <p:messages autoUpdate="true" closable="true"/>

                        <div class="registro">
                            <div class="label">Tipo</div>
                            <div class="data">
                                <h:selectOneMenu value="#{crearTramitesController.tramite.tipoTramite}"
                                                 converter="emerTipoTramiteConverter"
                                                 styleClass="captura1">
                                    <f:selectItems value="#{crearTramitesController.listaTipoTramite}"
                                                   var="item"
                                                   itemLabel="#{item.nombre}"
                                                   itemValue="#{item}" 
                                                   />
                                </h:selectOneMenu>

                            </div>
                        </div>
                        <div class="registro">
                            <div class="label">Radicado</div>
                            <div class="data">
                                <p:inputText value="#{crearTramitesController.tramite.idRadicado}"
                                             styleClass="captura1"
                                             />
                            </div>
                        </div>
                        <div class="registro">
                            <div class="label">Nombre remitente</div>
                            <div class="data">
                                <p:inputText value="#{crearTramitesController.tramite.nombre}"
                                             styleClass="captura1"/>

                            </div>
                        </div>
                        <div class="registro">
                            <div class="label">Identificación del remitente</div>
                            <div class="data">
                                <p:inputText value="#{crearTramitesController.tramite.identificacion}"
                                             styleClass="captura1"
                                             />

                            </div>
                        </div>

                        <div class="registro">
                            <div class="label">Celular del remitente</div>
                            <div class="data">

                                <p:inputText value="#{crearTramitesController.tramite.celular}"
                                             styleClass="captura1"/>
                            </div>
                        </div>
                        <div class="registro">
                            <div class="label">Teléfono del remitente</div>
                            <div class="data">
                                <p:inputText value="#{crearTramitesController.tramite.telefono}"
                                             styleClass="captura1"/>
                            </div>
                        </div>
                        <div class="registro">
                            <div class="label">Correo del remitente </div>
                            <div class="data">
                                <p:inputText value="#{crearTramitesController.tramite.email}"
                                             styleClass="captura1"
                                             />

                            </div>
                        </div>
                        <div class="registro">
                            <div class="label">Empresa</div>
                            <div class="data">
                                <p:autoComplete value="#{crearTramitesController.tramite.empresa}" 
                                                completeMethod="#{crearTramitesController.completeEmpresas}"
                                                var="item" 
                                                minQueryLength="1" 
                                                itemLabel="#{item.nit}" 
                                                itemValue="#{item}" 
                                                converter="emerTramiteEmpresaConverter"
                                                forceSelection="true"
                                                styleClass="autocomplete-captura1"
                                                style="float: left;"
                                                >
                                    <p:ajax event="query" global="false"  />

                                    <p:column>
                                        <h:outputText value="#{item.nit}" />
                                    </p:column>

                                    <p:column>
                                        <h:outputText value="#{item.razonSocial}" />
                                    </p:column>
                                </p:autoComplete>

                                <p:commandLink oncomplete="PF('crearEmpresaDialog').show();"
                                               update=":crearEmpresaDlg"
                                               process="@this"
                                               styleClass="ico-agregar-empresa"
                                               value="Agregar empresa"
                                               title="Agregar empresa"
                                               style="float: left;"
                                               />
                            </div>
                        </div>

                    </div>

                    <p:commandLink styleClass="guardar"
                                   value="Guardar"
                                   action="#{crearTramitesController.crear()}"
                                   update=":form_crear_tramite"/>
                </h:form>

                <p:dialog id="crearEmpresaDlg"
                          modal="true" 
                          widgetVar="crearEmpresaDialog"
                          closable="false" 
                          resizable="false"
                          showHeader="false"
                          width="700"
                          >  

                    <h:form>
                        <h2>
                            Crear Empresa

                            <p:commandLink styleClass="cerrar-dialog"
                                           value="Cancelar" 
                                           action="#{crearTramitesController.limpiarEmpresa()}"
                                           oncomplete="PF('crearEmpresaDialog').hide();"
                                           process="@this"
                                           style="float: right;"/>


                        </h2>
                    </h:form>
                    <h:form prependId="false"
                            id="form_crear_empresa">

                        <div class="boxed">

                            <p:messages autoUpdate="true" closable="true"/>

                            <div class="registro">
                                <div class="label">NIT</div>
                                <div class="data">
                                    <p:inputText value="#{crearTramitesController.empresa.nit}"
                                                 required="true"
                                                 requiredMessage="El campo nit es requerido."
                                                 styleClass="captura1"/>

                                </div>
                            </div>

                            <div class="registro">
                                <div class="label">Razón social</div>
                                <div class="data">
                                    <p:inputText value="#{crearTramitesController.empresa.razonSocial}"
                                                 required="true"
                                                 requiredMessage="El campo nombre es requerido."
                                                 styleClass="captura1"/>

                                </div>
                            </div>

                            <div class="registro">
                                <div class="label">Dirección</div>
                                <div class="data">
                                    <p:inputText value="#{crearTramitesController.empresa.direccion}"
                                                 required="true"
                                                 requiredMessage="El campo dirección es requerido."
                                                 styleClass="captura1"/>

                                </div>
                            </div>

                            <div class="registro">
                                <div class="label">Teléfono</div>
                                <div class="data">
                                    <p:inputText value="#{crearTramitesController.empresa.telefono}"
                                                 styleClass="captura1"/>

                                </div>
                            </div>
                        </div>



                        <p:commandLink styleClass="guardar-empresa"
                                       value="Guardar"
                                       action="#{crearTramitesController.crearEmpresa()}"
                                       update=":form_crear_tramite"/>


                    </h:form>

                </p:dialog>

            </div>




        </ui:define>
    </ui:composition>
</html>
