<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <h2>Disponibles</h2>

    <h:form>
        <ul class="status">

            <li>
                <p:commandLink action="#{listarTramitesController.establecerEstado('tod')}"
                               value="Todos"
                               styleClass="todos"
                               update=":form_list"/>

            </li>
            <li>
                <p:commandLink action="#{listarTramitesController.establecerEstado('fin')}"
                               value="Cerrado"
                               styleClass="cerrado"
                               update=":form_list"/>
            </li>
            <li>

                <p:commandLink action="#{listarTramitesController.establecerEstado('asig')}"
                               value="Proceso"
                               styleClass="proceso"
                               update=":form_list"/>
            </li>
            <li>
                <p:commandLink action="#{listarTramitesController.establecerEstado('cread')}"
                               value="Abierto"
                               styleClass="abierto"
                               update=":form_list"/>
            </li>
        </ul>
    </h:form>


    <h:form prependId="false"
            id="form_list">
        <p:outputPanel rendered="#{(listarTramitesController.items.rowCount > 0) == false }">

            <table width="100%" border="0" cellpadding="0" cellspacing="0" id="zebra">
                <tr>
                    <td></td>
                    <td width="100%">
                        <span class="razon">No hay datos disponibles</span>
                        <span class="idqr">Por favor, inténtelo nuevamente.</span>
                        <span class="acti"></span>

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

        </p:outputPanel>
        <p:outputPanel id="container" rendered="#{listarTramitesController.items.rowCount > 0}">

            <p:outputPanel id="table" >

                <table width="100%" border="0" cellpadding="0" cellspacing="0" id="zebra">
                    <ui:repeat value="#{listarTramitesController.items}" 
                               var="item" >
                        <tr>
                            <td width="5%">
                                <p:outputPanel styleClass="abierto" rendered="#{item.estadoTramite.estadoTramite == 1 || item.estadoTramite.estadoTramite == 2}">Abierto</p:outputPanel>
                                <p:outputPanel styleClass="proceso" rendered="#{item.estadoTramite.estadoTramite == 3}">Proceso</p:outputPanel>
                                <p:outputPanel styleClass="cerrado" rendered="#{item.estadoTramite.estadoTramite == 4}">Cerrado</p:outputPanel>

                            </td>
                            <td width="95%">
                                <span class="razon">
                                    <h:outputText value="#{item.empresa.razonSocial}"/>
                                </span>
                                <span class="idqr">
                                    <h:outputText value="#{item.empresa.nit}"/><br/>
                                    <h:outputText value="#{item.idRadicado.toUpperCase()}" rendered="#{item.idRadicado != null}"/>
                                    <h:outputText value="Sin Radicado" rendered="#{item.idRadicado == null}"/>                                    
                                    <span class="acti">
                                        <h:outputText value="#{item.tipoTramite.nombre}"/>    
                                    </span>
                                </span>
                            </td>
                            <td>
                                <p:commandLink ajax="false"
                                               styleClass="imprimir"
                                               title="Certificado de pago"
                                               rendered="#{item.emerTramitesAgendamientoList.size()>0}">
                                    <p:fileDownload value="#{listarTramitesController.descargarPdf2(item.tramite)}" />
                                </p:commandLink>
                            </td>
                            <td>
                                <p:commandLink ajax="false"
                                               styleClass="imprimir"
                                               title="Certificado de inspección"
                                               rendered="#{item.emerTramitesAgendamientoList.size()>0}">
                                    <p:fileDownload value="#{listarTramitesController.descargarPdf(item.tramite)}" />
                                </p:commandLink>
                            </td>
                            <td>

                                <p:outputPanel rendered="#{item.empresa.direccion != null}">
                                    <a href="#" class="location" data-tooltip="#{item.empresa.direccion.toLowerCase()}">Dirección</a>
                                </p:outputPanel>

                            </td>
                            <td>
                                <p:outputPanel rendered="#{item.email != null}">
                                    <a href="#" class="correo" data-tooltip="#{item.email.toLowerCase()}">Correo</a>
                                </p:outputPanel>

                            </td>
                            <td>
                                <p:outputPanel rendered="#{item.celular != null || item.telefono != null}">
                                    <a href="#" class="phone" data-tooltip="#{item.celular.toLowerCase()} #{item.telefono.toLowerCase()}">Teléfono</a>
                                </p:outputPanel>
                            </td>
                            <td>
                                <a href="#{facesContext.externalContext.requestContextPath}/tramites/agendar/#{item.tramite}"
                                   class="agenda"
                                   title="Agendar">Agendar</a>
                            </td>
                            <td>
                                <p:commandLink value="Finalizar Trámite"
                                               title="Finalizar Trámite"
                                               styleClass="cerrar-tramite"
                                               actionListener="#{listarTramitesController.cerrarTramite(item.tramite)}"
                                               rendered="#{item.estadoTramite.estadoTramite != 4}">
                                    <p:confirm header="Confirmación" message="¿Desea cerrar éste trámite?" icon="ui-icon-alert" />

                                </p:commandLink>

                            </td>
                        </tr>
                    </ui:repeat>


                </table>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandLink value="Si" 
                                   styleClass="ui-confirmdialog-yes"
                                   update=":table"
                                   />
                </p:confirmDialog>
            </p:outputPanel>

            <ul class="pagination">
                <li>
                    <p:commandLink action="#{listarTramitesController.previous}" 
                                   disabled="#{!listarTramitesController.pagination.hasPreviousPage}"
                                   update="container"
                                   >
                        <span aria-hidden="true">&laquo;</span>
                    </p:commandLink>

                </li>
                <li>
                    <div class="text">
                        Página #{listarTramitesController.pagination.page + 1} de #{listarTramitesController.totalPaginas}
                    </div>
                </li>

                <li>
                    <p:commandLink action="#{listarTramitesController.next}" 
                                   disabled="#{!listarTramitesController.pagination.hasNextPage}"
                                   update="container">
                        <span aria-hidden="true">&raquo;</span>
                    </p:commandLink>

                </li>
            </ul>

            <h:outputText value="#{listarTramitesController.pagination.pageFirstItem + 1}..#{listarTramitesController.pagination.pageLastItem + 1}/#{listarTramitesController.pagination.itemsCount}"
                          rendered="false"/>

        </p:outputPanel>
    </h:form>

    <div>


        <h:form prependId="false">
            <p:remoteCommand name="buscarTramites" 
                             global="false"
                             update=":form_list"
                             onstart="PF('statusbuscarTramitesDialog').show();" 
                             onsuccess="PF('statusbuscarTramitesDialog').hide();" 
                             actionListener="#{listarTramitesController.descargarRadicadosGestionDocumental()}" />
        </h:form>


        <p:dialog id="statusbuscarTramitesDlg"
                  modal="true" 
                  widgetVar="statusbuscarTramitesDialog" 
                  draggable="false" 
                  closable="false" 
                  resizable="false"
                  showHeader="false"
                  >  
            <div style="text-align: center;">
                Descargando trámites de gestión documental<br/>

                <i class="fa fa-refresh fa-spin"></i>

            </div>                                        
        </p:dialog>
        <script>
            $(document).ready(function () {
                //buscarTramites();
            });
        </script>
    </div>
</html>