<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition template="/templates/template_secure.xhtml">

        <ui:define name="content">

            <div class="creartramite">
                <h2>Evidencias</h2>
                <div class="boxed">

                    <h:form prependId="false"
                            id="form_buscar">
                        <p:messages autoUpdate="true" closable="true"/>
                        <div class="registro">
                            <div class="label">Nit</div>
                            <div class="data" style="float: left;
                                 margin-top: 25px;">
                                <p:inputText value="#{buscarEvidenciasController.nit}"
                                             styleClass="captura1"
                                             required="true"
                                             requiredMessage="El campo nit es requerido"                                             
                                             onkeypress="if (event.keyCode === 13) {
                                                         document.getElementById('btnBuscar').click();
                                                         return false;
                                                     }"/>

                            </div>
                            <p:commandLink id="btnBuscar" 
                                           value="Buscar"
                                           action="#{buscarEvidenciasController.consultar()}"
                                           update=":form_result"
                                           styleClass="buscar"/>
                        </div>

                    </h:form>
                </div>
            </div>


            <h:form prependId="false"
                    id="form_result">
                <p:outputPanel id="container" rendered="#{buscarEvidenciasController.items.rowCount > 0}">

                    <table width="100%" border="0" cellpadding="0" cellspacing="0" id="zebra">
                        <ui:repeat value="#{buscarEvidenciasController.items}" 
                                   var="item" >
                            <tr>
                                <td width="88%">
                                    <a href="#{facesContext.externalContext.requestContextPath}/tramites/evidencias/detalle/#{item.empresa}"
                                       title="Evidencia"
                                       style="color: #323232; height:100%;width:90%">

                                        <span class="razon">
                                            #{item.razonSocial}
                                        </span>
                                        <span class="idqr">
                                            <h:outputText value="#{item.nit}"/>
                                        </span>
                                    </a>

                                </td>
                                <td width="12%">
                                    <p:outputPanel rendered="#{item.direccion != null}">
                                        <a href="#{facesContext.externalContext.requestContextPath}/tramites/evidencias/detalle/#{item.empresa}" 
                                           class="location" 
                                           data-tooltip="#{item.direccion.toLowerCase()}">Dirección</a>
                                    </p:outputPanel>
                                </td>
                                <td>


                                </td>
                            </tr>
                        </ui:repeat>


                    </table>

                    <ul class="pagination">
                        <li>
                            <p:commandLink action="#{buscarEvidenciasController.previous}" 
                                           disabled="#{!buscarEvidenciasController.pagination.hasPreviousPage}"
                                           update="form_result"
                                           >
                                <span aria-hidden="true">&laquo;</span>
                            </p:commandLink>

                        </li>
                        <li>
                            <div class="text">
                                Página #{buscarEvidenciasController.pagination.page + 1} de #{buscarEvidenciasController.totalPaginas}
                            </div>
                        </li>

                        <li>
                            <p:commandLink action="#{buscarEvidenciasController.next}" 
                                           disabled="#{!buscarEvidenciasController.pagination.hasNextPage}"
                                           update="form_result">
                                <span aria-hidden="true">&raquo;</span>
                            </p:commandLink>

                        </li>
                    </ul>
                </p:outputPanel>
                <p:outputPanel rendered="#{(buscarEvidenciasController.items.rowCount > 0) == false }">

                    <table width="100%" border="0" cellpadding="0" cellspacing="0" id="zebra">
                        <tr>
                            <td></td>
                            <td width="100%">
                                <span class="razon">No hay datos disponibles</span>
                                <span class="idqr">Por favor, inténtelo nuevamente.</span>
                                <span class="acti"></span>

                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>

                </p:outputPanel>
            </h:form>

        </ui:define>
    </ui:composition>
</html>
