<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/templates/template_secure.xhtml">

        <ui:define name="content">


            <h2>Evidencias</h2>

            <div class="boxed">

                <div class="boxedleft">
                    <h3> #{detalleEvidenciaVisitaController.actasVisita.empresa.razonSocial}, #{detalleEvidenciaVisitaController.actasVisita.empresa.nit}</h3>
                    <p>

                        #{detalleEvidenciaVisitaController.actasVisita.empresa.direccion}

                    </p>
                </div>
            </div>

            <div class="belt">
                <h:form prependId="false">
                    <ul class="evidencias">
                        <li>
                            <p:commandLink id="evidextin"
                                           styleClass="evidextin active" 
                                           value="Extintores"
                                           action="#{detalleEvidenciaVisitaController.asignarCategoria('E')}"
                                           oncomplete="cambiarActivo('evidextin')"
                                           update=":panel"/>
                        </li>
                        <li>
                            <p:commandLink id="evidfotos"
                                           styleClass="evidfotos" 
                                           value="Fotos"
                                           action="#{detalleEvidenciaVisitaController.asignarCategoria('F')}"
                                           oncomplete="cambiarActivo('evidfotos')"
                                           update=":panel"/>
                        </li>
                    </ul>

                    <p:outputPanel rendered="false">
                        <ul class="vistaevid">
                            <li>
                                <p:commandLink styleClass="vistalista" 
                                               value="Lista"
                                               action="#{detalleEvidenciaVisitaController.asignarTipoVista('L')}"
                                               update=":panel"/>
                            </li>
                            <li>
                                <p:commandLink styleClass="vistaminia" 
                                               value="Miniaturas"
                                               action="#{detalleEvidenciaVisitaController.asignarTipoVista('M')}"
                                               update=":panel"/>
                            </li>
                        </ul>
                    </p:outputPanel>

                </h:form>


            </div>

            <p:outputPanel id="panel">
                <!-- EXTINTORES + LISTA-->
                <p:outputPanel rendered="#{(detalleEvidenciaVisitaController.verExtintores) 
                                           and (detalleEvidenciaVisitaController.verLista)}">
                    <p:outputPanel rendered="#{detalleEvidenciaVisitaController.listaDetalleExtintores.size() > 0 }">
                        <table width="100%" 
                               border="0" 
                               cellpadding="0" 
                               cellspacing="0" 
                               id="zebra2">

                            <thead style="text-align: justify;">

                                <th></th>
                                <th>Tipo</th>
                                <th>Recarga</th>
                                <th>Vencimiento</th>
                                <th>Revisión</th>
                                <th>P. Hidrostática</th>
                                <th>P. Axilios</th>

                            </thead>

                            <ui:repeat value="#{detalleEvidenciaVisitaController.listaDetalleExtintores}"
                                       var="item">
                                <tr>
                                    <td width="10%">

                                        <img src="${facesContext.externalContext.requestContextPath}/resources/images/qr.png" 
                                             alt="QR Code" 
                                             width="50"
                                             height="50"
                                             data-tooltip="#{item.extintor.codigoQr.codigo}"/>
                                    </td>
                                    <td width="10%">                                   
                                        <h:outputText value="#{item.extintor.tipo}"/>                                 
                                    </td>
                                    <td width="15%">
                                        <span class="razon">
                                            <h:outputText value="#{item.fechaRecarga}">
                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                            </h:outputText>
                                        </span>
                                    </td>
                                    <td width="15%">
                                        <span class="razon">
                                            <h:outputText value="#{item.fechaVencimiento}">
                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                            </h:outputText>
                                        </span>
                                    </td>
                                    <td width="15%">

                                        <span class="razon">
                                            <h:outputText value="#{item.fechaRevision}">
                                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                                            </h:outputText>
                                        </span>
                                    </td>
                                    <td width="20%">

                                        <span class="razon">
                                            <h:outputText value="#{item.PHidrostatica}"/>
                                        </span>
                                    </td>
                                    <td width="20%">

                                        <span class="razon">
                                            <h:outputText value="#{item.PAuxilio}"/>
                                        </span>
                                    </td>
                                </tr>
                            </ui:repeat>


                        </table>
                    </p:outputPanel>
                    <p:outputPanel rendered="#{(detalleEvidenciaVisitaController.listaDetalleExtintores.size() > 0) == false }">

                        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="zebra">
                            <tr>
                                <td></td>
                                <td width="100%">
                                    <span class="razon">No hay datos disponibles</span>
                                    <span class="idqr">Por favor, inténtelo nuevamente.</span>
                                    <span class="acti"></span>

                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>

                    </p:outputPanel>
                </p:outputPanel>

                <!-- EXTINTORES + ICONOS-->
                <p:outputPanel rendered="#{(detalleEvidenciaVisitaController.verExtintores) 
                                           and (!detalleEvidenciaVisitaController.verLista)}">

                </p:outputPanel>

                <!-- FOTOS + LISTA-->
                <p:outputPanel rendered="#{(!detalleEvidenciaVisitaController.verExtintores) 
                                           and (detalleEvidenciaVisitaController.verLista)}">
                    <p:outputPanel rendered="#{detalleEvidenciaVisitaController.actasVisita.agendamiento.emerTramitesEvidenciasList.size() > 0 }">
                        <p:lightBox styleClass="imagebox" >  
                            <ul class="evidenfotos">

                                <c:forEach var="item"
                                           items="#{detalleEvidenciaVisitaController.actasVisita.agendamiento.emerTramitesEvidenciasList}"
                                           >
                                    <li>
                                        <h:outputLink value="#{facesContext.externalContext.requestContextPath}/archivos?image=#{item.evidencias}" title="">  
                                            <h:graphicImage value="/archivos?image=#{item.evidencias}" 
                                                            width="80" 
                                                            height="80"
                                                            />  
                                        </h:outputLink>
                                    </li>

                                </c:forEach>
                            </ul>
                        </p:lightBox>
                    </p:outputPanel>
                    <p:outputPanel rendered="#{(detalleEvidenciaVisitaController.actasVisita.agendamiento.emerTramitesEvidenciasList.size() > 0) == false }">

                        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="zebra">
                            <tr>
                                <td></td>
                                <td width="100%">
                                    <span class="razon">No hay datos disponibles</span>
                                    <span class="idqr">Por favor, inténtelo nuevamente.</span>
                                    <span class="acti"></span>

                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>

                    </p:outputPanel>
                </p:outputPanel>

                <!-- FOTOS + ICONOS-->
                <p:outputPanel rendered="#{(!detalleEvidenciaVisitaController.verExtintores) 
                                           and (!detalleEvidenciaVisitaController.verLista)}">

                </p:outputPanel>
            </p:outputPanel>



            <script>
                function cambiarActivo(id) {
                    if (id === 'evidextin') {
                        $("#evidfotos").removeClass('active');
                        $("#evidextin").addClass('active');
                    } else {
                        $("#evidextin").removeClass('active');
                        $("#evidfotos").addClass('active');

                    }

                }
            </script>
        </ui:define>
    </ui:composition>
</html>
