<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition template="/templates/template_secure.xhtml">

        <ui:define name="content">

            <div class="creartramite">
                <h2>Evidencias</h2>

                <h:form prependId="false">
                    
                     <div class="boxed">

                        <div class="boxedleft">
                            <h3> #{detallesVisitaController.empresa.razonSocial}, #{detallesVisitaController.empresa.nit}</h3>
                            <p>
                                
                                #{detallesVisitaController.empresa.direccion}
                               
                            </p>
                        </div>
                     </div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" id="zebra">

                        <thead style="text-align: justify;">
                            <th>N° acta</th>
                            <th>Fecha visita</th>
                            <th>Área riesgo</th>
                            <th>Tipo riesgo</th>
                            <th>Favorable</th>
                            <th></th>
                        </thead>
                        <ui:repeat value="#{detallesVisitaController.listaActasVisita}"
                                   var="item">
                            <tr>
                                <td width="5%">
                                    <h:outputText value="#{item.actaVisitas}"/>
                                </td>

                                <td width="20%">
                                    <h:outputText value="#{item.fecha}">
                                        <f:convertDateTime pattern="dd/MM/yyyy hh:mm a"/>
                                    </h:outputText>
                                </td>

                                <td width="25%">
                                    <h:outputText value="#{item.areaRiesgo}"/>
                                </td>

                                <td width="25%">
                                    <h:outputText value="#{item.tipoRiesgo}"/>
                                </td>

                                <td width="25%">
                                    <h:outputText value="Si" rendered="#{item.conceptoEstado}"/>
                                    <h:outputText value="No" rendered="#{!item.conceptoEstado}"/>
                                </td>
                                <td>
                                    <a href="#{facesContext.externalContext.requestContextPath}/tramites/evidencias/ver/#{item.actaVisitas}"
                                       class="evidence"
                                       title="Evidencia">Evidencia</a>

                                </td>
                            </tr>
                        </ui:repeat>
                    </table>
                </h:form>
            </div>


        </ui:define>
    </ui:composition>
</html>
