<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Bomberos</title> 

        <link href="${facesContext.externalContext.requestContextPath}/resources/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="${facesContext.externalContext.requestContextPath}/resources/css/main_map.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/resources/js/primefaces_locale_es.js" />
        <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
        <meta charset="utf-8"/>

        <script type="text/javascript">
            function handleErrorRequest() {
                alert("Ha ocurrido un error");
            }
        </script>

    </h:head>

    <h:body>
        <p:dialog modal="true" 
                  widgetVar="statusDialog" 
                  draggable="false" 
                  closable="false" 
                  resizable="false"
                  >  
            <div style="text-align: center;">
                <p:graphicImage library="images"
                                name="load.gif"
                                width="50"
                                height="50" />                                         
            </div>                                        
        </p:dialog>

        <p:ajaxStatus onstart="PF('statusDialog').show();" 
                      onsuccess="PF('statusDialog').hide();" 
                      onerror="PF('statusDialog').hide();handleErrorRequest();"
                      />     


        <f:view>

            <div class="header">
                <p:outputPanel rendered="#{sessionController != null and sessionController.session != null}">
                    <h:form>

                        <p:commandLink title="Cerrar Sesión" 
                                       value="Salida"
                                       styleClass="logout"
                                       action="#{sessionController.logout()}"/>

                    </h:form>

                </p:outputPanel>
            </div>

            <div class="content">
                <ui:insert name="content">

                </ui:insert>
            </div>


        </f:view>
    </h:body>
</html>
