<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Bomberos</title> 


        <link href="${facesContext.externalContext.requestContextPath}/resources/css/primefaces_custom.css" rel="stylesheet" type="text/css" />
        <link href="${facesContext.externalContext.requestContextPath}/resources/css/main.css" rel="stylesheet" type="text/css" />
        <!--<link href="${facesContext.externalContext.requestContextPath}/resources/css/foundation/foundation.min.css" rel="stylesheet" type="text/css" />-->
        <script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/resources/js/primefaces_locale_es.js" />
        <script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/resources/js/modernizr.custom.js" />

        <link href="${facesContext.externalContext.requestContextPath}/resources/css/normalize.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/resources/js/classie.js" />
        <script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/resources/js/mlpushmenu.js" />

        <meta charset="utf-8"/>

        <script type="text/javascript">
            function handleErrorRequest() {
                alert("Ha ocurrido un error");
            }

            function setCookie(data) {
                var obj = jQuery.parseJSON(data);
                cname = obj;
                cvalue = obj;
                document.cookie = cname + "=" + cvalue;
            }

            
            
        </script>

    </h:head>

    <h:body>
        <p:dialog modal="true" 
                  widgetVar="statusDialog" 
                  draggable="false" 
                  closable="false" 
                  resizable="false"
                  >  
            <div style="text-align: center;">
                <p:graphicImage library="images"
                                name="load.gif"
                                width="50"
                                height="50" />                                         
            </div>                                        
        </p:dialog>

        <p:ajaxStatus onstart="PF('statusDialog').show();" 
                      onsuccess="PF('statusDialog').hide();" 
                      onerror="PF('statusDialog').hide();handleErrorRequest();"
                      />     

        <h:form>
            <p:confirmDialog global="true" 
                             showEffect="fade" 
                             hideEffect="fade">
                <p:commandLink value="Si" 
                               styleClass="ui-confirmdialog-yes"
                               />
                <p:commandLink value="No" 
                               styleClass="ui-confirmdialog-no"
                               />
            </p:confirmDialog>
        </h:form>

        <h:form prependId="false">
            <p:dialog id="invalidSessionStatusDlg"
                      header="Información" 
                      widgetVar="WVInvalidSessionStatusDlg"
                      modal="true" 
                      height="100"
                      resizable="false">

                #{sessionController.msg}

            </p:dialog>
        </h:form>

        <f:view>



            <div class="header">
                <p:outputPanel rendered="#{sessionController != null and sessionController.session != null}">

                    <div style="position: absolute;
                         z-index: 2;
                         right: 0;
                         display: block;
                         padding: 10px 20px;">
                        <h:form>

                            <p:commandLink title="Cerrar Sesión" 
                                           value="Salida"
                                           styleClass="logout"
                                           action="#{sessionController.logout()}"/>

                        </h:form>
                    </div>


                </p:outputPanel>
            </div>

            <div>
                <ui:insert name="content">

                </ui:insert>
            </div>


        </f:view>
    </h:body>
</html>
