/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/07/2015, 11:23:19 AM
    Author     : Leonardo
*/


.head {
    background-color: #C0534A;
    height:120px;
    overflow: visible;
}

h1 {
    display: block;
    font-weight: 300;
    color: #FFFFFF;
    /* [disabled]padding-bottom: 10px; */
    padding-top: 50px;
    background-image: url("../images/loginlogo.png");
    background-repeat: no-repeat;
    background-position: 10% 0px;
    overflow: hidden;
    height: 180px;
    padding-left: 35%;
    font-size: 50px;
}
h2 {
    color: #808184;
    font-weight: 300;
    padding-left: 35%;
    padding-top: 20px;
}
h3 {
    height: 65px;
    width: 80px;
    padding: 5px;
    border: 1px solid #C0534A;
    text-align: center;
    color: #C0534A;
    font-weight: 300;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin: 20px auto;
    padding-top: 20px;
}
.loginbox {
    width: 20%;
    /* [disabled]background-color: aliceblue; */
    margin-left: 35%;
    margin-top: 67px;
}
body h3 span {
    display: block;
    font-weight: 300;
    color: #999999;
    font-size: 11px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 12px;
    padding-top: 5px;

}
.captura1      {
    background-color: #FFFFCC;
    border: solid 1px #aaa;
    border-radius: 3px;
    font-size: 100%;
    color: #825422;
    font-family: Roboto;
    font-weight: 300;
    width: 90%;
    height: 35px;
    display: block;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 0px;
    margin-bottom: 20px;
}
.login {
    text-decoration: none;
    height: 85px;
    width: 85px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/ico-login.png");
    background-repeat: no-repeat;
    background-position: center top;
    color: #FFFFFF;
    font-size: 1px;
    text-indent: -9999px;
}