/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/04/2015, 10:39:38 AM
    Author     : admin
*/

.ui-widget
{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}
.ui-widget .ui-widget
{
    font-size: 1em;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-family: 'Roboto', sans-serif;
    /*font-size: 1em;*/
}
.ui-widget-content
{
    background: #ffffff;
    border: 1px solid #dddddd;
    color: #333333;
}
.ui-widget-content a
{
    color: #333333;
}
.ui-widget-header
{
    background: #f5f5f5;
    /*border: 1px solid #eeeeee;*/
    color: #333333;
    /*font-weight: bold;*/
}
.ui-widget-header a
{
    color: #333333;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    /*
    background-color: #e6e6e6;
    background-color: #f5f5f5;
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 0;
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    moz-border-radius: 4px;
    moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    webkit-border-radius: 4px;
    webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    zoom: 1;
    */
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled
{
    background-color: #d9d9d9;
    background-color: #e6e6e6;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
{
    background-color: #cccccc \9;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover
{
    background-color: #d9d9d9;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    color: #333333;
    moz-transition: background-position 0.1s linear;
    ms-transition: background-position 0.1s linear;
    o-transition: background-position 0.1s linear;
    text-decoration: none;
    transition: background-position 0.1s linear;
    webkit-transition: background-position 0.1s linear;
}
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
{
    outline: 5px auto -webkit-focus-ring-color;
    outline: thin dotted #333;
    outline-offset: -2px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
{
    background-color: #d9d9d9 \9;
    background-color: #e6e6e6;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0;
    webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled
{
    background-color: #e6e6e6;
    background-image: none;
    box-shadow: none;
    cursor: default;
    filter: alpha(opacity=65);
    moz-box-shadow: none;
    opacity: 0.65;
    webkit-box-shadow: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    /*
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    */
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
{
    background-color: #0081c2;
    background-color: #0088cc;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-position: 0px;
    background-repeat: repeat-x;
    color: #ffffff;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
    text-decoration: none;
}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a
{
    color: #ffffff;
}
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
{
    background: #f2dede 50% 50% repeat-x;
    border: 1px solid #eed3d7;
    color: #b94a48;
}
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a
{
    color: #b94a48;
}
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text
{
    color: #b94a48;
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary
{
    font-weight: bold;
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary
{
    filter: Alpha(Opacity=70);
    font-weight: normal;
    opacity: .7;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled
{
    background-image: none;
    filter: Alpha(Opacity=35);
    opacity: .35;
}
.ui-icon
{
    background-image:url("../images/ui-icons_333333_256x240.png");
    width: 16px;
    height: 16px;
}
.ui-widget-content .ui-icon
{
    background-image:url("../images/ui-icons_333333_256x240.png");
}
.ui-widget-header .ui-icon
{
    background-image:url("../images/ui-icons_333333_256x240.png");
}
.ui-state-default .ui-icon
{
    background-image:url("../images/ui-icons_333333_256x240.png");
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon
{
    background-image:url("../images/ui-icons_333333_256x240.png");
}
.ui-state-active .ui-icon
{
    background-image:url("../images/ui-icons_333333_256x240.png");
}
.ui-state-highlight .ui-icon
{
    background-image:url("../images/ui-icons_333333_256x240.png");
}
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon
{
    background-image:url("../images/ui-icons_333333_256x240.png");
}
.ui-icon-carat-1-n
{
    background-position: 0 0;
}
.ui-icon-carat-1-ne
{
    background-position: -16px 0;
}
.ui-icon-carat-1-e
{
    background-position: -32px 0;
}
.ui-icon-carat-1-se
{
    background-position: -48px 0;
}
.ui-icon-carat-1-s
{
    background-position: -64px 0;
}
.ui-icon-carat-1-sw
{
    background-position: -80px 0;
}
.ui-icon-carat-1-w
{
    background-position: -96px 0;
}
.ui-icon-carat-1-nw
{
    background-position: -112px 0;
}
.ui-icon-carat-2-n-s
{
    background-position: -128px 0;
}
.ui-icon-carat-2-e-w
{
    background-position: -144px 0;
}
.ui-icon-triangle-1-n
{
    background-position: 0 -16px;
}
.ui-icon-triangle-1-ne
{
    background-position: -16px -16px;
}
.ui-icon-triangle-1-e
{
    background-position: -32px -16px;
}
.ui-icon-triangle-1-se
{
    background-position: -48px -16px;
}
.ui-icon-triangle-1-s
{
    background-position: -64px -16px;
}
.ui-icon-triangle-1-sw
{
    background-position: -80px -16px;
}
.ui-icon-triangle-1-w
{
    background-position: -96px -16px;
}
.ui-icon-triangle-1-nw
{
    background-position: -112px -16px;
}
.ui-icon-triangle-2-n-s
{
    background-position: -128px -16px;
}
.ui-icon-triangle-2-e-w
{
    background-position: -144px -16px;
}
.ui-icon-arrow-1-n
{
    background-position: 0 -32px;
}
.ui-icon-arrow-1-ne
{
    background-position: -16px -32px;
}
.ui-icon-arrow-1-e
{
    background-position: -32px -32px;
}
.ui-icon-arrow-1-se
{
    background-position: -48px -32px;
}
.ui-icon-arrow-1-s
{
    background-position: -64px -32px;
}
.ui-icon-arrow-1-sw
{
    background-position: -80px -32px;
}
.ui-icon-arrow-1-w
{
    background-position: -96px -32px;
}
.ui-icon-arrow-1-nw
{
    background-position: -112px -32px;
}
.ui-icon-arrow-2-n-s
{
    background-position: -128px -32px;
}
.ui-icon-arrow-2-ne-sw
{
    background-position: -144px -32px;
}
.ui-icon-arrow-2-e-w
{
    background-position: -160px -32px;
}
.ui-icon-arrow-2-se-nw
{
    background-position: -176px -32px;
}
.ui-icon-arrowstop-1-n
{
    background-position: -192px -32px;
}
.ui-icon-arrowstop-1-e
{
    background-position: -208px -32px;
}
.ui-icon-arrowstop-1-s
{
    background-position: -224px -32px;
}
.ui-icon-arrowstop-1-w
{
    background-position: -240px -32px;
}
.ui-icon-arrowthick-1-n
{
    background-position: 0 -48px;
}
.ui-icon-arrowthick-1-ne
{
    background-position: -16px -48px;
}
.ui-icon-arrowthick-1-e
{
    background-position: -32px -48px;
}
.ui-icon-arrowthick-1-se
{
    background-position: -48px -48px;
}
.ui-icon-arrowthick-1-s
{
    background-position: -64px -48px;
}
.ui-icon-arrowthick-1-sw
{
    background-position: -80px -48px;
}
.ui-icon-arrowthick-1-w
{
    background-position: -96px -48px;
}
.ui-icon-arrowthick-1-nw
{
    background-position: -112px -48px;
}
.ui-icon-arrowthick-2-n-s
{
    background-position: -128px -48px;
}
.ui-icon-arrowthick-2-ne-sw
{
    background-position: -144px -48px;
}
.ui-icon-arrowthick-2-e-w
{
    background-position: -160px -48px;
}
.ui-icon-arrowthick-2-se-nw
{
    background-position: -176px -48px;
}
.ui-icon-arrowthickstop-1-n
{
    background-position: -192px -48px;
}
.ui-icon-arrowthickstop-1-e
{
    background-position: -208px -48px;
}
.ui-icon-arrowthickstop-1-s
{
    background-position: -224px -48px;
}
.ui-icon-arrowthickstop-1-w
{
    background-position: -240px -48px;
}
.ui-icon-arrowreturnthick-1-w
{
    background-position: 0 -64px;
}
.ui-icon-arrowreturnthick-1-n
{
    background-position: -16px -64px;
}
.ui-icon-arrowreturnthick-1-e
{
    background-position: -32px -64px;
}
.ui-icon-arrowreturnthick-1-s
{
    background-position: -48px -64px;
}
.ui-icon-arrowreturn-1-w
{
    background-position: -64px -64px;
}
.ui-icon-arrowreturn-1-n
{
    background-position: -80px -64px;
}
.ui-icon-arrowreturn-1-e
{
    background-position: -96px -64px;
}
.ui-icon-arrowreturn-1-s
{
    background-position: -112px -64px;
}
.ui-icon-arrowrefresh-1-w
{
    background-position: -128px -64px;
}
.ui-icon-arrowrefresh-1-n
{
    background-position: -144px -64px;
}
.ui-icon-arrowrefresh-1-e
{
    background-position: -160px -64px;
}
.ui-icon-arrowrefresh-1-s
{
    background-position: -176px -64px;
}
.ui-icon-arrow-4
{
    background-position: 0 -80px;
}
.ui-icon-arrow-4-diag
{
    background-position: -16px -80px;
}
.ui-icon-extlink
{
    background-position: -32px -80px;
}
.ui-icon-newwin
{
    background-position: -48px -80px;
}
.ui-icon-refresh
{
    background-position: -64px -80px;
}
.ui-icon-shuffle
{
    background-position: -80px -80px;
}
.ui-icon-transfer-e-w
{
    background-position: -96px -80px;
}
.ui-icon-transferthick-e-w
{
    background-position: -112px -80px;
}
.ui-icon-folder-collapsed
{
    background-position: 0 -96px;
}
.ui-icon-folder-open
{
    background-position: -16px -96px;
}
.ui-icon-document
{
    background-position: -32px -96px;
}
.ui-icon-document-b
{
    background-position: -48px -96px;
}
.ui-icon-note
{
    background-position: -64px -96px;
}
.ui-icon-mail-closed
{
    background-position: -80px -96px;
}
.ui-icon-mail-open
{
    background-position: -96px -96px;
}
.ui-icon-suitcase
{
    background-position: -112px -96px;
}
.ui-icon-comment
{
    background-position: -128px -96px;
}
.ui-icon-person
{
    background-position: -144px -96px;
}
.ui-icon-print
{
    background-position: -160px -96px;
}
.ui-icon-trash
{
    background-position: -176px -96px;
}
.ui-icon-locked
{
    background-position: -192px -96px;
}
.ui-icon-unlocked
{
    background-position: -208px -96px;
}
.ui-icon-bookmark
{
    background-position: -224px -96px;
}
.ui-icon-tag
{
    background-position: -240px -96px;
}
.ui-icon-home
{
    background-position: 0 -112px;
}
.ui-icon-flag
{
    background-position: -16px -112px;
}
.ui-icon-calendar
{
    background-position: -32px -112px;
}
.ui-icon-cart
{
    background-position: -48px -112px;
}
.ui-icon-pencil
{
    background-position: -64px -112px;
}
.ui-icon-clock
{
    background-position: -80px -112px;
}
.ui-icon-disk
{
    background-position: -96px -112px;
}
.ui-icon-calculator
{
    background-position: -112px -112px;
}
.ui-icon-zoomin
{
    background-position: -128px -112px;
}
.ui-icon-zoomout
{
    background-position: -144px -112px;
}
.ui-icon-search
{
    background-position: -160px -112px;
}
.ui-icon-wrench
{
    background-position: -176px -112px;
}
.ui-icon-gear
{
    background-position: -192px -112px;
}
.ui-icon-heart
{
    background-position: -208px -112px;
}
.ui-icon-star
{
    background-position: -224px -112px;
}
.ui-icon-link
{
    background-position: -240px -112px;
}
.ui-icon-cancel
{
    background-position: 0 -128px;
}
.ui-icon-plus
{
    background-position: -16px -128px;
}
.ui-icon-plusthick
{
    background-position: -32px -128px;
}
.ui-icon-minus
{
    background-position: -48px -128px;
}
.ui-icon-minusthick
{
    background-position: -64px -128px;
}
.ui-icon-close
{
    background-position: -80px -128px;
}
.ui-icon-closethick
{
    background-position: -96px -128px;
}
.ui-icon-key
{
    background-position: -112px -128px;
}
.ui-icon-lightbulb
{
    background-position: -128px -128px;
}
.ui-icon-scissors
{
    background-position: -144px -128px;
}
.ui-icon-clipboard
{
    background-position: -160px -128px;
}
.ui-icon-copy
{
    background-position: -176px -128px;
}
.ui-icon-contact
{
    background-position: -192px -128px;
}
.ui-icon-image
{
    background-position: -208px -128px;
}
.ui-icon-video
{
    background-position: -224px -128px;
}
.ui-icon-script
{
    background-position: -240px -128px;
}
.ui-icon-alert
{
    background-position: 0 -144px;
}
.ui-icon-info
{
    background-position: -16px -144px;
}
.ui-icon-notice
{
    background-position: -32px -144px;
}
.ui-icon-help
{
    background-position: -48px -144px;
}
.ui-icon-check
{
    background-position: -64px -144px;
}
.ui-icon-bullet
{
    background-position: -80px -144px;
}
.ui-icon-radio-off
{
    background-position: -96px -144px;
}
.ui-icon-radio-on
{
    background-position: -112px -144px;
}
.ui-icon-pin-w
{
    background-position: -128px -144px;
}
.ui-icon-pin-s
{
    background-position: -144px -144px;
}
.ui-icon-play
{
    background-position: 0 -160px;
}
.ui-icon-pause
{
    background-position: -16px -160px;
}
.ui-icon-seek-next
{
    background-position: -32px -160px;
}
.ui-icon-seek-prev
{
    background-position: -48px -160px;
}
.ui-icon-seek-end
{
    background-position: -64px -160px;
}
.ui-icon-seek-start
{
    background-position: -80px -160px;
}
.ui-icon-seek-first
{
    background-position: -80px -160px;
}
.ui-icon-stop
{
    background-position: -96px -160px;
}
.ui-icon-eject
{
    background-position: -112px -160px;
}
.ui-icon-volume-off
{
    background-position: -128px -160px;
}
.ui-icon-volume-on
{
    background-position: -144px -160px;
}
.ui-icon-power
{
    background-position: 0 -176px;
}
.ui-icon-signal-diag
{
    background-position: -16px -176px;
}
.ui-icon-signal
{
    background-position: -32px -176px;
}
.ui-icon-battery-0
{
    background-position: -48px -176px;
}
.ui-icon-battery-1
{
    background-position: -64px -176px;
}
.ui-icon-battery-2
{
    background-position: -80px -176px;
}
.ui-icon-battery-3
{
    background-position: -96px -176px;
}
.ui-icon-circle-plus
{
    background-position: 0 -192px;
}
.ui-icon-circle-minus
{
    background-position: -16px -192px;
}
.ui-icon-circle-close
{
    background-position: -32px -192px;
}
.ui-icon-circle-triangle-e
{
    background-position: -48px -192px;
}
.ui-icon-circle-triangle-s
{
    background-position: -64px -192px;
}
.ui-icon-circle-triangle-w
{
    background-position: -80px -192px;
}
.ui-icon-circle-triangle-n
{
    background-position: -96px -192px;
}
.ui-icon-circle-arrow-e
{
    background-position: -112px -192px;
}
.ui-icon-circle-arrow-s
{
    background-position: -128px -192px;
}
.ui-icon-circle-arrow-w
{
    background-position: -144px -192px;
}
.ui-icon-circle-arrow-n
{
    background-position: -160px -192px;
}
.ui-icon-circle-zoomin
{
    background-position: -176px -192px;
}
.ui-icon-circle-zoomout
{
    background-position: -192px -192px;
}
.ui-icon-circle-check
{
    background-position: -208px -192px;
}
.ui-icon-circlesmall-plus
{
    background-position: 0 -208px;
}
.ui-icon-circlesmall-minus
{
    background-position: -16px -208px;
}
.ui-icon-circlesmall-close
{
    background-position: -32px -208px;
}
.ui-icon-squaresmall-plus
{
    background-position: -48px -208px;
}
.ui-icon-squaresmall-minus
{
    background-position: -64px -208px;
}
.ui-icon-squaresmall-close
{
    background-position: -80px -208px;
}
.ui-icon-grip-dotted-vertical
{
    background-position: 0 -224px;
}
.ui-icon-grip-dotted-horizontal
{
    background-position: -16px -224px;
}
.ui-icon-grip-solid-vertical
{
    background-position: -32px -224px;
}
.ui-icon-grip-solid-horizontal
{
    background-position: -48px -224px;
}
.ui-icon-gripsmall-diagonal-se
{
    background-position: -64px -224px;
}
.ui-icon-grip-diagonal-se
{
    background-position: -80px -224px;
}
.ui-corner-tl
{
    border-top-left-radius: 4px;
    moz-border-radius-topleft: 4px;
    webkit-border-top-left-radius: 4px;
}
.ui-corner-tr
{
    border-top-right-radius: 4px;
    moz-border-radius-topright: 4px;
    webkit-border-top-right-radius: 4px;
}
.ui-corner-bl
{
    border-bottom-left-radius: 4px;
    moz-border-radius-bottomleft: 4px;
    webkit-border-bottom-left-radius: 4px;
}
.ui-corner-br
{
    border-bottom-right-radius: 4px;
    moz-border-radius-bottomright: 4px;
    webkit-border-bottom-right-radius: 4px;
}
.ui-corner-top
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    moz-border-radius-topleft: 4px;
    moz-border-radius-topright: 4px;
    webkit-border-top-left-radius: 4px;
    webkit-border-top-right-radius: 4px;
}
.ui-corner-bottom
{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    moz-border-radius-bottomleft: 4px;
    moz-border-radius-bottomright: 4px;
    webkit-border-bottom-left-radius: 4px;
    webkit-border-bottom-right-radius: 4px;
}
.ui-corner-right
{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    moz-border-radius-bottomright: 4px;
    moz-border-radius-topright: 4px;
    webkit-border-bottom-right-radius: 4px;
    webkit-border-top-right-radius: 4px;
}
.ui-corner-left
{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    moz-border-radius-bottomleft: 4px;
    moz-border-radius-topleft: 4px;
    webkit-border-bottom-left-radius: 4px;
    webkit-border-top-left-radius: 4px;
}
.ui-corner-all
{
    border-radius: 4px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px;
}
.ui-widget-overlay
{
    background: #000000;
    filter: Alpha(Opacity=80);
    opacity: .80;
}
.ui-widget-shadow
{
    /*
    background:#000000 url("#
        {
        resource['primefaces-bootstrap: images/ui-bg_highlight-hard_70_000000_1x100.png'];
    }*/
}
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield
{


    border-radius: 3px;
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    cursor: default;
    moz-border-radius: 3px;
    /*moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*
    moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    */
    webkit-border-radius: 3px;
    /*webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);*/
    /*webkit-transition: border linear 0.2s, box-shadow linear 0.2s;*/
/*
    background-color: #fff5d4;
    border: 1px solid #cec6ad;
    padding: 5px 5px;
    font-size: 110%;
    letter-spacing: 0.6px;
    color: #323232;*/
}
.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus
{
    /*
    border-color: rgba(82, 168, 236, 0.8);
    
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    
    outline: 0;
    outline: thin dotted \9;
    
    webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);*/
    outline-color: rgb(77, 144, 254); // #4D90FE
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;

}
.ui-inputfield.ui-state-error, .ui-widget-header .ui-inputfield.ui-state-error, .ui-widget-content .ui-inputfield.ui-state-error
{
    border: 1px solid #eed3d7;
    color: #333333;
}
.ui-tabs.ui-widget-content
{
    background: transparent none;
    border: 0;
    border-bottom: 1px solid #DDDDDD;
    border-radius: 0;
}
.ui-tabs .ui-tabs-nav.ui-widget-header
{
    background: transparent none;
    /*border-bottom: 1px solid #DDDDDD;
    border-radius: 0;*/
    clear: both;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #54B3E5;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-bottom: 10px;
    height: 35px;
}
.ui-tabs .ui-tabs-nav.ui-widget-header li
{
    background: transparent none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    line-height: 18px;
    margin-bottom: -1px;
}
.ui-tabs .ui-tabs-nav.ui-widget-header li a
{
    /*
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #0088CC;
    font-weight: normal;
    line-height: 18px;
    padding-bottom: 8px;
    padding-top: 8px;*/
    /*float: left; */
    /* padding: 10px; */
    margin-right: 10px;
    border-top-width: 2px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #BAD8EE;
    border-right-color: #54B3E5;
    /*border-bottom-color: #54B3E5;*/
    border-left-color: #54B3E5;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    top: 1px;
    background-color: #54B3E5;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 80%;
    text-shadow: 0px -1px 0px #00689e;
}
.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-hover a
{
    /*
    background-color: #eeeeee;
    border-color: #eeeeee #eeeeee #dddddd;
    color: #005580;
    text-decoration: none;*/
    
    background-color: #acd5f2;
}
.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active a,.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active a
{
    /*
    background-color: #FFFFFF;
    border-color: #DDDDDD #DDDDDD transparent;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
    */
    margin-right: 10px;
    border-top-width: 2px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #BAD8EE;
    border-right-color: #54B3E5;
    /*border-bottom-color: #54B3E5;*/
      border-bottom-color: #FFF;
    border-left-color: #54B3E5;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    top: 1px;
    background-color: #54B3E5;
    text-decoration: none;
    color: #54B3E5;
    text-transform: uppercase;
    font-size: 80%;
    background-color: #FFFFFF;
    cursor: default;
    text-shadow: none;

}
.ui-accordion .ui-accordion-header
{
    background: transparent;
    box-shadow: none;
}
.ui-accordion .ui-accordion-header.ui-state-default
{
    border: 1px solid #E5E5E5;
    margin-bottom: 2px;
}
.ui-accordion .ui-accordion-header.ui-state-active
{
    margin-bottom: 1px;
}
.ui-accordion .ui-accordion-header .ui-icon
{
    display: none;
}
.ui-accordion .ui-accordion-header.ui-state-default a
{
    color: #0088CC;
    padding: 8px 15px;
}
.ui-accordion .ui-accordion-header a:hover
{
    color: #005580;
}
.ui-accordion .ui-accordion-content.ui-widget-content
{
    padding: 9px 15px;
}
.ui-breadcrumb
{
    background-color: #fbfbfb;
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 #ffffff;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    list-style: none;
    margin: 0 0 18px;
    moz-border-radius: 3px;
    moz-box-shadow: inset 0 1px 0 #ffffff;
    padding: 7px 14px;
    webkit-border-radius: 3px;
    webkit-box-shadow: inset 0 1px 0 #ffffff;
}
.ui-breadcrumb li
{
    display: inline;
    display: inline-block;
    text-shadow: 0 1px 0 #ffffff;
    zoom: 1;
}
.ui-breadcrumb .divider
{
    color: #999999;
    padding: 0 5px;
}
.ui-breadcrumb a
{
    color: #0088CC;
    font-weight: normal;
}
.ui-progressbar.ui-widget-content
{
    background-color: #f7f7f7;
    background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
    height: 18px;
    margin-bottom: 18px;
    moz-border-radius: 4px;
    moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    webkit-border-radius: 4px;
    webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.ui-progressbar .ui-progressbar-value.ui-widget-header
{
    background-color: #0e90d2;
    background-image: linear-gradient(top, #149bdf, #0480be);
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -ms-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-repeat: repeat-x;
    border: 0 none;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    color: #ffffff;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
    font-size: 12px;
    height: 18px;
    margin: 0;
    moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    moz-box-sizing: border-box;
    moz-transition: width 0.6s ease;
    ms-box-sizing: border-box;
    ms-transition: width 0.6s ease;
    o-transition: width 0.6s ease;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: width 0.6s ease;
    webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    webkit-box-sizing: border-box;
    webkit-transition: width 0.6s ease;
}
.ui-dialog.ui-widget-content
{
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    moz-background-clip: padding-box;
    moz-border-radius: 6px;
    moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    webkit-background-clip: padding-box;
    webkit-border-radius: 6px;
    webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.ui-dialog.ui-widget-content .ui-dialog-titlebar
{
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
    padding: 9px 15px;
}
.ui-dialog.ui-widget-content .ui-dialog-title
{
    font-size: 18px;
}
.ui-dialog.ui-widget-content .ui-dialog-content
{
    /*font-size: 14px;*/
    padding: 15px;
}
.ui-dialog.ui-widget-content .ui-dialog-titlebar-close
{
    margin-top: 5px;
}
.ui-dialog.ui-widget-content .ui-dialog-titlebar-close:hover, .ui-dialog.ui-widget-content .ui-dialog-titlebar-close:focus, .ui-dialog.ui-widget-content .ui-dialog-titlebar-minimize:hover, .ui-dialog.ui-widget-content .ui-dialog-titlebar-minimize:focus, .ui-dialog.ui-widget-content .ui-dialog-titlebar-maximize:hover, .ui-dialog.ui-widget-content .ui-dialog-titlebar-maximize:focus
{
    padding: 1px;
}
.ui-datatable-odd
{
    background-color: #F9F9F9;
}
.ui-tabmenu
{
    color: #555555;
    margin-bottom: 20px;
    overflow: visible;
    position: relative;
    z-index: 2;
}
.ui-tabmenu .ui-tabmenu-nav.ui-widget-header
{
    background-color: #e6e6e6;
    background-color: #f5f5f5;
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    min-height: 38px;
    padding: 0 20px;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-default
{
    border: 0 none;
    border-radius: 0px;
    color: #555555;
    font-weight: normal;
    margin: 0;
    moz-border-radius: 0px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
    top: 0;
    webkit-border-radius: 0px;
}
.ui-toolbar.ui-widget-header
{
    background-color: #fafafa;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary
{
    background-color: #0044cc;
    background-color: #006dcc;
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.ui-priority-primary:hover,.ui-priority-primary:active,.ui-priority-primary.active,.ui-priority-primary.disabled,.ui-priority-primary[disabled]
{
    background-color: #003bb3;
    background-color: #0044cc;
    color: #ffffff;
}
.ui-priority-primary:active,.ui-priority-primary.active
{
    background-color: #003399 \9;
}
.ui-menu.ui-widget
{
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-width: 2px;
    border-radius: 6px;
    border-right-width: 2px;
    min-width: 160px;
    moz-background-clip: padding;
    moz-border-radius: 6px;
    padding: 5px 0;
    webkit-background-clip: padding-box;
    webkit-border-radius: 6px;
}
.ui-menu.ui-widget a
{
    clear: both;
    color: #333333;
    display: block;
    font-weight: normal;
    white-space: nowrap;
}
.ui-menu.ui-widget li.ui-corner-all,.ui-menu.ui-widget a.ui-corner-all
{
    border-radius: 0;
    moz-border-radius: 0;
    webkit-border-radius: 0;
}
.ui-menu.ui-widget .ui-menu-list
{
}
.ui-menu.ui-widget li > .ui-menuitem-link
{
    border-width: 1px 0px;
    padding: 0.3em 0;
    width: 100%;
}
.ui-menu.ui-widget .ui-menu-list .ui-widget-header
{
    border-width: 1px 0px;
    width: 100%;
}
.ui-menu.ui-widget li > .ui-menuitem-link.ui-state-hover
{
    background-color: #0081c2;
    background-color: #0088cc;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-position: 0px;
    background-repeat: repeat-x;
    color: #ffffff;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
    text-decoration: none;
}
.ui-menu.ui-widget li > .ui-menuitem-link.ui-state-hover .ui-icon
{
    background-image:url("../images/ui-icons_ffffff_256x240.png")

}
.ui-menu.ui-widget .ui-separator
{
    background-color: #e5e5e5;
    border: 0 none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    box-shadow: none;
    height: 1px;
    moz-border-radius: 0;
    moz-box-shadow: none;
    overflow: hidden;
    webkit-border-radius: 0;
    webkit-box-shadow: none;
}
.ui-menu.ui-widget .ui-menuitem-link .ui-menuitem-icon
{
    margin-left: 0.3em;
    margin-right: -0.2em;
}
.ui-menu.ui-widget .ui-menuitem-link .ui-menuitem-text
{
    margin-left: 0.4em;
}
.ui-shadow
{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
    moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
    webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2) !important;
}
.ui-menu.ui-slidemenu .ui-shadow
{
    box-shadow: none !important;
    moz-box-shadow: none !important;
    webkit-box-shadow: none !important;
}
.ui-panelmenu .ui-panelmenu-header a
{
    color: #0088CC;
}
.ui-buttonset .ui-state-default
{
    border-radius: 0;
    moz-border-radius: 0;
    webkit-border-radius: 0;
}
.ui-buttonset .ui-corner-left.ui-state-default
{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    moz-border-radius-bottomleft: 4px;
    moz-border-radius-topleft: 4px;
    webkit-border-bottom-left-radius: 4px;
    webkit-border-top-left-radius: 4px;
}
.ui-buttonset .ui-corner-right.ui-state-default
{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    moz-border-radius-bottomright: 4px;
    moz-border-radius-topright: 4px;
    webkit-border-bottom-right-radius: 4px;
    webkit-border-top-right-radius: 4px;
}
.ui-menu.ui-menubar
{
    background-color: #fafafa;
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    moz-border-radius: 4px;
    moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    padding-left: 10px;
    padding-right: 20px;
    webkit-border-radius: 4px;
    webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
.ui-menu.ui-menubar .ui-menu-parent .ui-menu-child
{
    padding: 5px 0;
}