<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/templates/template_secure.xhtml"> 
        <ui:define name="content">
            <link href="${facesContext.externalContext.requestContextPath}/resources/css/casos.css" rel="stylesheet" type="text/css" />


            <div class="container">

                <div class="head">
                    <span class="title">CONFEDERACIÓN NACIONAL DE CUERPOS DE BOMBEROS</span>
                    <span class="opciones"><a href="#">SALIR</a></span>
                </div>
                <div class="caso">

                    <div class="casocenter">
                        <span class="title">Inicio</span>
                        <span class="action">12:12</span>
                        <span class="title">Duración</span>
                        <span class="action">12:12</span>
                    </div>

                    <div class="casoleft">
                        <a href="${facesContext.externalContext.requestContextPath}/station/#{caseDatailsController.estacion.estacion}">Regresar</a>
                        <br></br>
                        <div class="ubicacion">
                            <span class="direccion">#{caseDatailsController.caso.direccion}, #{caseDatailsController.caso.barrio.nombre}</span>
                            <span class="referencia">#{caseDatailsController.caso.puntoReferencia}</span>
                        </div>

                        <div class="lfs">
                            <ui:repeat value="#{caseDatailsController.listaLineaFuegoCaso}"
                                       var="lf">
                                <span>
                                    <p:commandLink value="#{lf.lineaFuego.nombre}"
                                                   styleClass="#{caseDatailsController.classFireLine(lf.lineaFuego.lineaFuego)}"
                                                   action="#{caseDatailsController.buscarLineaFuegoCasoSeleccionada(lf.lineaFuego.lineaFuego)}"
                                                   update=":asistentesLineaFuego"
                                                   />
                                </span>
                            </ui:repeat>

                        </div>

                        <div class="asist">

                            <ul>
                                <p:outputPanel id="asistentesLineaFuego">
                                    <li class="asistitem">
                                        <span class="recurso">Nombre de Asistente</span>
                                        <span class="nombre">Cargo Asistente</span>
                                    </li>
                                </p:outputPanel>

                            </ul>
                        </div>

                    </div>



                    <div class="casoright">
                        <div class="ubicacion">
                            <span class="contacto">#{caseDatailsController.caso.nombreContacto}</span>
                            <span class="telefono">#{caseDatailsController.caso.telefonoContacto}</span>
                            <span class="comments">#{caseDatailsController.caso.descripcion}</span>
                            <span class="mapa"><img src="${facesContext.externalContext.requestContextPath}/resources/images/map-68.jpg"/></span>
                        </div>

                    </div>


                    <div class="casobottom">
                        <div class="evidencia">
                            <span class="audioevidencia">
                                <ul>
                                    <li><a href="#">DD/MM·HH:MM</a></li>
                                    <li><a href="#">DD/MM·HH:MM</a></li>
                                    <li><a href="#">DD/MM·HH:MM</a></li>
                                    <li><a href="#">DD/MM·HH:MM</a></li>
                                    <li><a href="#">DD/MM·HH:MM</a></li>
                                </ul>
                            </span>
                            <span class="videoevidencia">
                                <ul>
                                    <li><a href="#"><img src="${facesContext.externalContext.requestContextPath}/resources/images/evidenciafoto.png"/><span class="videodata">DD/MM·HH:MM</span></a></li>
                                    <li><a href="#"><img src="${facesContext.externalContext.requestContextPath}/resources/images/evidenciafoto.png"/><span class="videodata">DD/MM·HH:MM</span></a></li>
                                    <li><a href="#"><img src="${facesContext.externalContext.requestContextPath}/resources/images/evidenciafoto.png"/><span class="videodata">DD/MM·HH:MM</span></a></li>

                                    <li><a href="#"><img src="${facesContext.externalContext.requestContextPath}/resources/images/evidenciafoto.png"/><span class="videodata">DD/MM·HH:MM</span></a></li>
                                    <li><a href="#"><img src="${facesContext.externalContext.requestContextPath}/resources/images/evidenciafoto.png"/><span class="videodata">DD/MM·HH:MM</span></a></li>

                                    <li><a href="#"><img src="${facesContext.externalContext.requestContextPath}/resources/images/evidenciafoto.png"/><span class="videodata">DD/MM·HH:MM</span></a></li>

                                </ul>
                            </span>
                        </div>

                    </div>

                </div>
            </div>
        </ui:define>
    </ui:composition>
</html>
