<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/templates/template_secure.xhtml"> 
        <ui:define name="content">



            <div class="container">
                <a href="${facesContext.externalContext.requestContextPath}/map">Regresar</a>
                <h2>UNIDAD DE BOMBEROS Nº 1</h2>
                <h3>Panel de Administración y Gestión de Emergencias</h3>
                <div class="casosporasignar">
                    <h4>Casos por asignar</h4>
                    <p:outputPanel id="tabla_casos">
                        <h:form prependId="false">
                            <p:messages autoUpdate="false" closable="true"/>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                   class="tabla1">
                                <ui:repeat value="#{stationsController.lazyModelCasos.objectsList}"
                                           var="caso">
                                    <tr>
                                        <td width="25%" valign="top">
                                            <span class="locatecasos">
                                                #{caso.direccion}
                                            </span>
                                            <span class="refercasos">
                                                #{caso.puntoReferencia}                                        
                                            </span>
                                        </td>
                                        <td valign="top">
                                            <div class="maquinabox">
                                                <p:outputPanel rendered="false">
                                                    <div style="float: left;">

                                                        <p:selectOneMenu id="estacionesList" 
                                                                         value="#{stationsController.estacionSeleccionada}" 
                                                                         style="width:200px"
                                                                         >

                                                            <f:selectItem itemLabel="Seleccionar estación"/>
                                                            <f:selectItems value="#{stationsController.listaEstaciones}" 
                                                                           var="est"
                                                                           itemValue="#{est.estacion}"
                                                                           itemLabel="#{est.nombre}"/>

                                                            <p:ajax event="change" 
                                                                    global="false" 
                                                                    listener="#{stationsController.manejadorListaEstaciones}"
                                                                    update="lineasFuegoList2"/>
                                                        </p:selectOneMenu>
                                                    </div>    

                                                    <div style="float: left; margin-left: 15px;">
                                                        <p:selectOneMenu id="lineasFuegoList2"
                                                                         value="#{stationsController.lineaFuegoSeleccionada}" 
                                                                         style="width:200px"
                                                                         >
                                                            <f:selectItem  itemLabel="Seleccionar línea de fuego"/>
                                                            <f:selectItems value="#{stationsController.lineasFuegoDisponibles}" 
                                                                           var="lineaf"
                                                                           itemValue="#{lineaf.lineaFuego}"
                                                                           itemLabel="#{lineaf.nombre}"/>
                                                        </p:selectOneMenu>
                                                    </div>
                                                    <div style="float: left; margin-left: 15px;">
                                                        <p:commandLink value="Asignar"
                                                                       styleClass="maquinodisp"
                                                                       action="#{stationsController.asignarLineaFuego()}"
                                                                       update=":tabla_casos,:tabla_casos_asignados,:pagination_assign_cases,:pagination_cases,:asignarLineaFuegoForm"/>
                                                    </div>
                                                </p:outputPanel>
                                            </div>
                                            <div style="clear: both;"></div>



                                            <div class="descripcaso">
                                                #{caso.descripcion}
                                            </div>
                                        </td>
                                        <td valign="top">

                                            <p:commandLink value="Asignar"
                                                           styleClass="ico-coasignar"
                                                           action="#{stationsController.seleccionarCaso(caso.caso)}"
                                                           global="false"
                                                           oncomplete="PF('WVAsignarLineaFuegoDlg').show();"
                                                           update=":asignarLineaFuegoForm:asignarLineaFuegoDlg"/>
                                        </td>
                                    </tr>
                                </ui:repeat>

                            </table>

                        </h:form>

                    </p:outputPanel>

                    <h:form id="pagination_cases">

                        <div class="pagination pagination-centered">

                            <ul>
                                <c:forEach begin="1" end="#{stationsController.lazyModelCasos.pages}"
                                           var="page">
                                    <li class="#{stationsController.classPage(page,stationsController.lazyModelCasos.currentPage)}">
                                        <p:commandLink value="#{page}" 
                                                       global="false"
                                                       action="#{stationsController.findCases(page)}"
                                                       update=":tabla_casos,:tabla_casos_asignados,:pagination_cases"
                                                       />
                                    </li>
                                </c:forEach>

                            </ul>
                        </div>

                    </h:form>

                </div>

                <h:form id="asignarLineaFuegoForm"
                        prependId="false">
                    <p:dialog id="asignarLineaFuegoDlg"
                              header="Asignar línea de fuego" 
                              widgetVar="WVAsignarLineaFuegoDlg"
                              modal="true" 
                              height="100"
                              resizable="false">
                        <p:messages id="msg"/>
                        <table>
                            <tr>
                                <td>
                                    <p:selectOneMenu id="estacionesList1" 
                                                     value="#{stationsController.estacionSeleccionada}" 
                                                     style="width:200px"
                                                     required="true"
                                                     >

                                        <f:selectItem itemLabel="Seleccionar estación"/>
                                        <f:selectItems value="#{stationsController.listaEstaciones}" 
                                                       var="est"
                                                       itemValue="#{est.estacion}"
                                                       itemLabel="#{est.nombre}"/>

                                        <p:ajax event="change" 
                                                global="false" 
                                                listener="#{stationsController.manejadorListaEstaciones}"
                                                update="lineasFuegoList"/>
                                    </p:selectOneMenu>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p:selectOneMenu id="lineasFuegoList"
                                                     value="#{stationsController.lineaFuegoSeleccionada}" 
                                                     style="width:200px"
                                                     required="true"
                                                     >
                                        <f:selectItem  itemLabel="Seleccionar línea de fuego"/>
                                        <f:selectItems value="#{stationsController.lineasFuegoDisponibles}" 
                                                       var="lineaf"
                                                       itemValue="#{lineaf.lineaFuego}"
                                                       itemLabel="#{lineaf.nombre}"/>
                                    </p:selectOneMenu>
                                </td>
                            </tr>
                        </table>
                        <p:commandLink value="Asignar"
                                       action="#{stationsController.asignarLineaFuego()}"
                                       styleClass="maquinodisp"
                                       update=":tabla_casos,:tabla_casos_asignados,:pagination_assign_cases,:pagination_cases,asignarLineaFuegoDlg"/>
                    </p:dialog>
                </h:form>

                <div class="casosasignados">
                    <h4>Casos asignados</h4>
                    <p:outputPanel id="tabla_casos_asignados">
                        <h:form prependId="false">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                                   class="tabla1">
                                <ui:repeat value="#{stationsController.lazyModelCasosAsignados.objectsList}"
                                           var="caso">
                                    <tr>
                                        <td valign="top">
                                            <span class="locatecasos">
                                                <a href="#{stationsController.station.estacion}/caso/#{caso.caso}">#{caso.direccion}</a>
                                            </span>
                                            <span class="refercasos">#{caso.puntoReferencia}</span>
                                        </td>
                                        <td valign="top">
                                            <h:outputText value="#{caso.fechaHoraCreacion}">
                                                <f:convertDateTime pattern="MM/dd/yyyy" type="date"/>
                                            </h:outputText><br />
                                            <h:outputText value="#{caso.fechaHoraCreacion}">
                                                <f:convertDateTime pattern="hh:mm"/>
                                            </h:outputText><br />
                                            <a href="#"></a>
                                        </td>
                                        <td valign="top">
                                            #{caso.estadoCaso.descripcion}
                                        </td>

                                        <td valign="top">
                                            <ui:repeat value="#{stationsController.buscarLineasFuegoCaso(caso.caso)}"
                                                       var="lf">

                                                <a href="#" class="#{stationsController.classFireLine(caso.lineaResponsable.lineaFuego, lf.lineaFuego.lineaFuego)}">#{lf.lineaFuego.nombre}</a>
                                            </ui:repeat>


                                        </td>
                                        <td valign="top">

                                            <p:commandLink value="Asignar"
                                                           styleClass="ico-coasignar"
                                                           action="#{stationsController.seleccionarCaso(caso.caso)}"
                                                           global="false"
                                                           oncomplete="PF('WVAsignarLineaFuegoDlg').show();"
                                                           update=":asignarLineaFuegoForm:asignarLineaFuegoDlg"/>
                                        </td>
                                        <td valign="top">
                                            <a href="#" class="ico-evidencia">Video</a>
                                        </td>
                                        <td valign="top">
                                            <a href="#" class="ico-llamar">Llamar</a>
                                        </td>
                                        <td valign="top">
                                            <a href="#" class="ico-obs">OBS</a>
                                        </td>
                                    </tr>
                                </ui:repeat>

                            </table>
                        </h:form>

                        <h:form id="pagination_assign_cases">

                            <div class="pagination pagination-centered">
                                <ul>
                                    <c:forEach begin="1" end="#{stationsController.lazyModelCasosAsignados.pages}"
                                               var="page">
                                        <li class="#{stationsController.classPage(page,stationsController.lazyModelCasosAsignados.currentPage)}">
                                            <p:commandLink value="#{page}" 
                                                           global="false"
                                                           action="#{stationsController.findCasesAsigados(page)}"
                                                           update=":tabla_casos,:tabla_casos_asignados,:pagination_assign_cases"
                                                           />
                                        </li>
                                    </c:forEach>

                                </ul>
                            </div>

                        </h:form>
                    </p:outputPanel>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">

                    </table>
                </div>
                <p>&nbsp;</p>
            </div>

        </ui:define>
    </ui:composition>
</html>
