<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Solicitud de trámites</title> 

        <meta charset="utf-8"/>
        <link href="${facesContext.externalContext.requestContextPath}/resources/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="${facesContext.externalContext.requestContextPath}/resources/css/login.css" rel="stylesheet" type="text/css"  />
        <link href="${facesContext.externalContext.requestContextPath}/resources/css/primefaces_custom.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="${facesContext.externalContext.requestContextPath}/resources/js/primefaces_locale_es.js" />
        
        <script type="text/javascript">
            function handleErrorRequest() {
                alert("Ha ocurrido un error");
            }
            function redirect404() {

            }

        </script>

    </h:head>

    <h:body>
        <p:dialog id="statusDlg"
                  modal="true" 
                  widgetVar="statusDialog" 
                  draggable="false" 
                  closable="false" 
                  resizable="false"
                  showHeader="false"
                  >  
            <div style="text-align: center;">
                <i class="fa fa-refresh fa-spin"></i>

            </div>                                        
        </p:dialog>

        <p:ajaxStatus onstart="PF('statusDialog').show();" 
                      onsuccess="PF('statusDialog').hide();" 
                      onerror="PF('statusDialog').hide();handleErrorRequest();"
                      />     

        <f:view>            

            <div class="wrapper">
                <div class="content">
                    <ui:insert name="content">

                    </ui:insert>
                </div>

            </div>
        </f:view>
    </h:body>
</html>
