/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/09/2015, 10:00:23 AM
    Author     : Leonardo
*/

p {
    /*margin: 0 0 15px 0;*/
    display: block;
    overflow: hidden;
    padding-top: 15px;
}

.span1 {
    width: 90%;
    display: inline-block;
    margin-bottom: 3px;
}

.span1 .input1{
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-color: #fff;
    color: #626262;
    -webkit-box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.02);
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.02);
    padding: 10px 10px;
    outline: none;
    display: block;
    margin-bottom: 20px;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
    /*-webkit-appearance: none;*/
    -webkit-border-radius: 0;
    border-radius: 0;
    border-color: rgba(0,0,0,.08);
}

.span1 .input1:focus{
    background-color: #E9F5FC !important;
    border-color: #d5e5ee;
    color: #1982C2;
}

.button1{
    display: inline-block;
    padding: 11px 20px;
    margin-bottom: 15px;
    cursor: pointer;
    margin-right: 7px;
    border: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.03);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.03);
    background-image: url(../images/box_shadow_button.png);
    background-repeat: repeat-x;
    background-color: #2991d6;
    color: #fff;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
    font-weight: 400;
}

.box{
    display: block;
    overflow: hidden;
    padding-top: 15px;
}

.stack{
    display: block;
    float: left;
    width: 44.3333%;
    margin: 0px;
}

.stacklabel {
    color: #005f98;
    font-size: 12px;
}