<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Emergencias</title> 

        <link href="${facesContext.externalContext.requestContextPath}/resources/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="${facesContext.externalContext.requestContextPath}/resources/css/main.css" rel="stylesheet" type="text/css" />
        <link href="${facesContext.externalContext.requestContextPath}/resources/css/primefaces_custom.css" rel="stylesheet" type="text/css" />

        <meta charset="utf-8"/>

        <script type="text/javascript">

            function handleErrorRequest() {
                alert("Ha ocurrido un error");
            }

        </script>

    </h:head>

    <h:body>
        <p:dialog id="statusDlg"
                  modal="true" 
                  widgetVar="statusDialog" 
                  draggable="false" 
                  closable="false" 
                  resizable="false"
                  showHeader="false"
                  >  
            <div style="text-align: center;">
                <i class="fa fa-refresh fa-spin"></i>

            </div>                                        
        </p:dialog>

        <p:ajaxStatus onstart="PF('statusDialog').show();" 
                      onsuccess="PF('statusDialog').hide();" 
                      onerror="PF('statusDialog').hide();handleErrorRequest();"
                      />     


        <f:view>

            <div class="header">
                <div class="head">
                    <div class="headLeft">
                        <h1>
                            <a href="${facesContext.externalContext.requestContextPath}" class="title">Emergencias</a>
                            
                        </h1>

                    </div>
                    <div class="headRight">
                        <h:form prependId="false"> 

                            <ul class="recep">
                                <p:outputPanel rendered="#{sessionController != null and sessionController.session != null}">
                                    <li>
                                        <p:commandLink title="Salir " 
                                                       value="Salir "
                                                       styleClass="salir"
                                                       action="#{sessionController.logout()}"/>
                                    </li>
                                    <li>
                                        <a href="#" class="username">#{sessionController.session.nombreUsuario}</a>
                                    </li>


                                </p:outputPanel>


                            </ul>


                        </h:form>

                    </div>
                </div>


                <div class="wrapper">
                    <div class="wrap">
                        <ui:insert name="content">

                        </ui:insert>
                    </div>
                </div>

            </div>
        </f:view>
    </h:body>
</html>
