@charset "utf-8";
/* CSS Document */


body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
.head {
    background-color: #c1534a;
    height: 40px;
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 100%;
}
.head .title {
    color: #FFFFFF;
    line-height: 40px;
    padding-left: 50px;
    background-image: url(escudo.png);
    display: block;
    background-repeat: no-repeat;
    float: left;
}
.head .opciones {


    display: block;
    float: right;
    padding-right: 50px;
    text-align: right;
}

.head .opciones a {
    color: #821800;
    line-height: 40px;
    display: block;
    float: right;
    padding-right: 50px;
    text-align: right;
}

.caso .casoleft {
    display: block;
    position: absolute;
    width: 50%;
    height: 68%;
    left: 0px;
    top: 40px;
    z-index: 1;
    overflow: auto;
    padding-top: 1%;
    /* [disabled]padding-right: 4%; */
    padding-bottom: 1%;
    /* [disabled]padding-left: 2%; */
    background-color: #F6F6F6;
}
.casoleft .ubicacion {
    display: block;
    font-family: roboto;
    padding-right: 10%;
}
.casoleft .ubicacion .direccion {
    display: block;
    color: #EB2827;
    font-family: roboto;
    font-size: 162%;
    padding-left: 10%;
}

.casoleft .ubicacion .referencia {
    padding-left: 10%;
    display: block;
    padding-bottom: 5%;
    color: #999;
}

.casoleft .lfs {
    padding-left: 10%;
    /* [disabled]text-align: center; */
}
.casoleft .asist {
    padding-left: 10%;
}
.casoleft .asist ul{
    list-style-type: none;
    padding: 0px;
    margin: 5% 10% 5% 0%;
}

.casoleft .asistitem {
    padding: 2% 0px;
    border-bottom: solid 1px silver;
}
.asistitem .nombre {
    float: right;
    color: #999;
    padding-right: 5%;
}



.casoleft .lfs span .LFActive {
    text-decoration: none;
    display: inline-block;
    padding: 15px 10px;
    border: solid 1px #bdccd4;
    color: #FFFFFF;
    border-radius: 53px;
    margin-right: 2%;
    min-width: 30px;
    background-color: #EB2827;
}

.casoleft .lfs span .LFNormal {
    text-decoration: none;
    display: inline-block;
    padding: 15px 10px;
    border: solid 1px #bdccd4;
    color: #bdccd4;
    border-radius: 53px;
    margin-right: 2%;
    min-width: 30px;
}
.casoleft .lfs span .LFNormal:hover {
    text-decoration: none;
    display: inline-block;
    padding: 15px 10px;
    border: solid 1px #bdccd4;
    color: #FFFFFF;
    border-radius: 53px;
    margin-right: 2%;
    min-width: 30px;
    background-color: #EB2827;
}

.caso .casocenter {
    background-color: #eb2827;
    display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    left: 45%;
    top: 50px;
    z-index: 2;
    border-radius: 75px;
}
.caso .casoright {
    /* [disabled]background-color: #FFFF00; */
    display: block;
    position: absolute;
    width: 50%;
    height: 68%;
    top: 40px;
    right: 0px;
    z-index: 1;
    padding-top: 1%;
    /* [disabled]padding-right: 4%; */
    padding-bottom: 1%;
    /* [disabled]padding-left: 2%; */
}
.casoright .ubicacion .contacto {
    display: block;
    color: #EB2827;
    font-family: roboto;
    font-size: 162%;
    /* [disabled]padding-left: 15%; */
    float: left;
    padding-left: 10%;
}
.casoright .ubicacion .telefono {
    display: block;
    color: red;
    font-family: roboto;
    font-size: 162%;
    float: right;
    padding-right: 10%;
}
.casoright .ubicacion .comments {
    display: block;
    padding-bottom: 5%;
    color: #999;
    clear: both;
    padding-right: 10%;
    padding-left: 10%;
}
.casoright .ubicacion .mapa img {
    position: absolute;

    margin-left: 7%;
    position: absolute;
    clip: rect(0px,60px,200px,0px);
}
.caso .casobottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #EB2827;
    z-index: 2;
    display: block;
    height: 30%;
    width: 100%;
}

.casobottom .evidencia .audioevidencia {
    clear: both;
    display: block;
    width: 87%;
    /* [disabled]background: antiquewhite; */
    overflow: hidden;
    margin: 10px auto 10px auto;
}
.casobottom .evidencia .audioevidencia ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.casobottom .evidencia .audioevidencia ul li a {
    border: solid 1px #FFF;
    display: block;
    float: left;
    padding: 10px 20px 10px 40px;
    margin: 0 10px 0 0px;
    text-decoration: none;
    
    border-radius: 5px;
    background-image: url(../images/icono-play.png);
    background-repeat: no-repeat;
    background-position: 13px center;
    color: #fff;
}
.casobottom .evidencia .audioevidencia ul li a:hover {
    border: solid 1px #FFF;
    display: block;
    float: left;
    padding: 10px 20px 10px 40px;
    margin: 0 10px 0 0px;
    text-decoration: none;
    color: #EB2827;
    border-radius: 5px;
    background-image: url(icono-play.png);
    background-repeat: no-repeat;
    background-position: 13px center;
    background-color: #FFFFFF;
}

.casobottom .evidencia .videoevidencia {
    clear: both;
    display: block;
    width: 87%;
    /* [disabled]background: antiquewhite; */
    overflow: hidden;
    margin: 10px auto 10px auto;
    /* [disabled]height: 189px; */
}
.casobottom .evidencia .videoevidencia ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.casobottom .evidencia .videoevidencia ul li a {
    /* border: solid 1px #999; */
    display: block;
    float: left;
    padding: 10px;
    margin: 0 10px 0 0px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;
    width: 155px;
}
.casobottom .evidencia .videoevidencia ul li a img {
    height: 50px;
    width: 50px;
}
.casobottom .evidencia .videoevidencia .videodata {
    display: block;
}



.casocenter .title {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 80%;
}
.casocenter .action {
    display: block;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 130%;
}