@charset "utf-8";
/* CSS Document */


input[type="text"], input[type="password"], input[type="number"], input[type="search"], input[type="email"], input[type="url"], textarea {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-border-radius:3px;
    border-radius:3px;
}
html, body {
    height:100%;
    margin:0;
    padding:0
}
body {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    min-width: 600px;
    background-image: url(../images/bomberos-69.jpg);
    background-position: center center;
    background-size: 100%;
}
body.iframe {
    min-width:0
}

body.login {
    /* [disabled]background:#00589D; */
    min-width: 0
}

.login form, #login_error, .login .message {
    -webkit-border-radius:3px;
    border-radius:3px;
    border-width:1px;
    border-style:solid
}
.login form .input {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.login * {
    margin:0;
    padding:0
}
.login form {
    /* margin-left: 8px; */
    padding: 26px 24px 46px;
    font-weight: normal;
    /* background: #fff; */
    border: 1px solid #e5e5e5;
}
.login form .forgetmenot {
    font-weight:normal;
    float:left;
    margin-bottom:0
}
.login .button-primary {
    font-size: 12px!important;
    line-height: 16px;
    float: right;
    background-color: #C23C3E;
    color: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
    border: 0px none transparent;
}

.login .button-primary:hover {
    background-color: #CCC;
    color: #000;
}


#login form p {
    margin-bottom:0
}
#login form p.submit {
    padding:0
}
.login label {
    color:#777;
    font-size:14px
}
.login form .forgetmenot label {
    font-size:12px;
    line-height:19px
}
.login form p {
    margin-bottom:24px
}
.login h1 a {
    background-image:url(../images/logo-biba1.png);

    background-position:left top;
    background-repeat:no-repeat;
    width:140px;
    height:50px;
    text-indent:-9999px;
    overflow:hidden;
    display:block;
    margin-bottom: 15px;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#login {
    width: 320px;
    padding: 170px 0 0;
    margin: 0% 60%;
}
#login_error, .login .message {
    margin:0 0 16px 8px;
    padding:12px
}
.login form .input, .login input[type="text"] {
    color: #CB353E;
    font-weight: 200;
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    outline: 0;
    -moz-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
    -webkit-box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
    box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2)
}
#nav {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#nav a{
    color: #777;
    text-decoration: none;
}#nav a:hover{
    color: #00F;
    text-decoration: underline;
}
.login #login .error {
    background-color: #C5373F;
    color: #FFFFFF;
    padding: 20px;
    margin-left: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
