/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/01/2015, 10:55:18 AM
    Author     : admin
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
body { 
    font-family: 'Roboto', sans-serif; font-weight:300;
}
.tabla1 td {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    padding: 10px;
}
.tabla1 tr {
    /* [disabled]padding-top: 10px; */
    /* [disabled]padding-bottom: 10px; */
}
.tabla1 tr:hover {
    /* [disabled]padding-top: 10px; */
    /* [disabled]padding-right: 5px; */
    /* [disabled]padding-bottom: 10px; */
    /* [disabled]padding-left: 5px; */
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    background-color: #F2F5F8;
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    color: #c1534a;
}
h3 {font-family: 'Roboto Condensed', sans-serif; font-weight:300;}
h4 {font-family: 'Roboto Condensed', sans-serif; font-weight:700;}
.casosporasignar {
    padding-top: 20px;
    padding-right: 5%;
    padding-bottom: 20px;
    padding-left: 5%;
}
.casosasignados {
    padding-top: 20px;
    padding-right: 5%;
    padding-bottom: 20px;
    padding-left: 5%;
    background-color: #F2F5F8;
}
.maquinabox {
    display: block;
    overflow: visible;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 40px;
    background-image: url(../images/firecono-38.png);
    background-repeat: no-repeat;
    background-position: left 7px;
    /* [disabled]background-color: #00FF00; */
    height: 20px;
}

.maquidisp {
    display: inline-block;
    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 7px;
    padding-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 3px;
    border-radius: 19px;
    /* border: 1px solid #808080; */
    text-decoration: none;
    color: #666666;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0px;

    background-color: rgba(255,255,255,0.66);

}
.maquidisp:hover {
    background-color: #f14950;
    color: #FFF;
    font-weight: 100;
}

.maquinodisp {
    display: inline-block;
    background-color: #c1534a;
    padding-top: 8px;
    padding-right: 5px;
    padding-bottom: 7px;
    padding-left: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 15px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
}
.maquinodisp:hover {
    background-color: #f14950;
    color: #FFF;
    font-weight: 100;
}

.locatecasos {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 110%;
    color: #333333;
    background-image: url(../images/firecono-36.png);
    background-repeat: no-repeat;
    display: block;
    height: 35px;
    padding-left: 40px;
    line-height: 17px;
    padding-top: 5px;
    /* [disabled]background-color: #FFFF00; */
    background-position: left top;
    font-weight: 400;
}

.refercasos {
    color: #666666;
    display: block;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 80%;
}

.descripcaso {
    color: #666666;
    display: block;
    font-size: 80%;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.ico-evidencia {
    text-decoration: none;
    display: block;
    text-indent: -9999px;
    height: 35px;
    width: 35px;
    background-image: url(../images/firecono-evidencia.png);
    background-position: left top;
}
.ico-evidencia:hover {
    text-decoration: none;
    display: block;
    text-indent: -9999px;
    height: 35px;
    width: 35px;
    background-image: url(../images/firecono-evidencia.png);
    background-position: left bottom;
}
.ico-llamar {
    text-decoration: none;
    display: block;
    text-indent: -9999px;
    height: 35px;
    width: 35px;
    background-image: url(../images/firecono-llamar.png);
    background-position: left top;
}
.ico-llamar:hover {
    text-decoration: none;
    display: block;
    text-indent: -9999px;
    height: 35px;
    width: 35px;
    background-image: url(../images/firecono-llamar.png);
    background-position: left bottom;
}
.ico-obs {
    text-decoration: none;
    display: block;
    text-indent: -9999px;
    height: 35px;
    width: 35px;
    background-image: url(../images/firecono-comms.png);
    background-position: left top;
}
.ico-obs:hover {
    text-decoration: none;
    display: block;
    text-indent: -9999px;
    height: 35px;
    width: 35px;
    background-image: url(../images/firecono-comms.png);
    background-position: left bottom;
}
.ico-coasignar {
    text-decoration: none;
    display: block;
    text-indent: -9999px;
    height: 35px;
    width: 35px;
    background-image: url(../images/firecono-coasignar.png);
    background-position: left top;
}
.ico-coasignar:hover {
    text-decoration: none;
    display: block;
    text-indent: -9999px;
    height: 35px;
    width: 35px;
    background-image: url(../images/firecono-coasignar.png);
    background-position: left bottom;
}

.pagination {
    height: 36px;
    margin: 18px 0;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
    display: inline;
}
.pagination a {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 0;
    color: #0088cc;
    text-decoration: none;
}
.pagination a:hover,
.pagination .active a {
    background-color: #f5f5f5;

}
.pagination .active a {
    color: #999999;
    cursor: default;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
    color: #999999;
    background-color: transparent;
    cursor: default;
}
.pagination li:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}
.pager {
    margin-left: 0;
    margin-bottom: 18px;
    list-style: none;
    text-align: center;
    *zoom: 1;
}
.pager:before,
.pager:after {
    display: table;
    content: "";
}
.pager:after {
    clear: both;
}
.pager li {
    display: inline;
}
.pager a {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.pager a:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}
.pager .next a {
    float: right;
}
.pager .previous a {
    float: left;
}
.pager .disabled a,
.pager .disabled a:hover {
    color: #999999;
    background-color: #fff;
    cursor: default;
}