/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/01/2015, 10:55:18 AM
    Author     : admin
*/
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,700|Roboto+Condensed:400,300|Roboto+Slab:400,300");
.clearfix{
    clear: both;
}

.container2 {
    overflow: hidden;
    max-height: 100vh;
}
/*
.container2 .container_layers{
    width: 30%;
    height: 100vh;
    float: left;
}

.container2 .container_map{
    width: 70%;
    height: 100vh;
    float: left;
}
*/

.container_layers{
    position: absolute;
    z-index: 2;
    float: left;
    width: 23%;
    background-color: rgba(255,255,255,0.90);
    top: 0px;
    margin: 0px 0px 0px 5%;
    padding: 1% 1% 40px 1%;
    border-bottom: solid 1px silver;
    border-left: solid 1px silver;
    border-right: solid 1px silver;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    max-width: 100vh;
    overflow-y: auto;
}
.container_map{
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;

}

#map {
    /*
    position: relative;
    width: 100%;
    height: 100%;
    */

    /*width: 100%;*/
    height: 100vh;
    position: absolute;

}

.expand_map{
    width: 100%;
    height: 100vh;
    -webkit-transition: width 0s;
}

.collapse_map{
    -webkit-transition: width 1s;
    width: 78%;
    height: 100vh;
}

.toogle_map{
    position: absolute;
    z-index: 10;
    left: -22px;
    top: -6px;
}

.toogle_map .trigger{
    text-decoration: none;
    padding: 6px 10px;
    background-color: #C1534A;
    color: #FFF;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    border: solid 1px #F14950;
    font-size: 12px;
}

.toogle_map .trigger:hover{

    background-color: #F14950;
    color: #FFF;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    border: solid 1px #B5373C;
    font-size: 12px;
}

.geoicon-lupa{
    background-image: url(../images/geoicon-lupa.png);
    background-repeat: no-repeat;
    /*position: relative;
    top: -39px;*/
    width: 30px;
    height: 30px;
    /*float: right;
    right: 50px;
    z-index: 0!important;*/
    cursor: pointer;
}

.geoicon-station{
    background-image: url(../images/geoicon-station.png);
    background-repeat: no-repeat;
    /*position: relative;
    top: -39px;*/
    width: 30px;
    height: 30px;
    /*float: right;
    right: -10px;
    z-index: 0!important;*/
    cursor: pointer;
}


.geoicon-lupa_container{
    background-color: rgba(193,83,74,.66);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 31px;
    position: relative;
    top: -39px;
    float: right;
    right: 50px;
    z-index: 0!important;
    padding: 1px;
}

.geoicon-station_container{
    background-color: rgba(193,83,74,.66);
    /*background-color: #913e38;*/
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 31px;
    position: relative;
    top: -39px;
    float: right;
    right: -22px;
    z-index: 0!important;
    padding: 1px;
}

.geoicon-back{
    background-image: url(../images/geoicon-back.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.geoicon-station_container:hover,
.geoicon-lupa_container:hover{
    background-color: #f14950;
}

.geoicon-maquina{
    background-image: url(../images/geoicon-maquina.png);
    background-repeat: no-repeat;
    /*position: relative;
    top: -39px;*/
    width: 30px;
    height: 30px;
    /*float: right;
    right: -10px;
    z-index: 0!important;*/
    cursor: pointer;
}


.geoicon-maquina_container{
    background-color: rgba(193,83,74,.66);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 31px;
    position: relative;
    top: -39px;
    float: right;
    right: 50px;
    z-index: 0!important;
    padding: 1px;
}

.menu2{
    
    text-shadow: 1px 1px 0px #821800 !important;
}


/*
.menu1{
    font-weight: bold;
    color: #B5232B !important;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    padding: 4px 0px 4px 0px;
    display: block;
}

.menu2{
    color: #4d4d4d !important;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    padding: 12px 0px 12px 0px;
    display: block;

}

.menu3{
    font-family: 'Verdana';
    text-decoration: none;
    padding: 6px 0px 6px 0px;
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
}

.ui-treetable .menu2 ~ .ui-treetable-toggler{
    margin-top: 12px;
}

.ui-treetable .menu1 ~ .ui-treetable-toggler{
    margin-top: 4px;
}
*/