/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/01/2015, 04:01:41 PM
    Author     : admin
*/

.ui-treetable thead th{
    background: none;
}
.ui-treetable .ui-treetable-data.ui-widget-content{
    background: transparent;
}

.ui-treetable .ui-treetable-data.ui-widget-content tr{
    background: transparent;
    border: 1px solid #FFF;
}

.ui-treetable thead{
    display: none;
}

.ui-widget {
    font-size: 1em;
}

.ui-dialog.ui-widget-content .ui-dialog-title {
    font-size: 14px;
}
.ui-dialog.ui-widget-content .ui-dialog-titlebar-close {
    margin-top: 2px;
}
