<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="content">
            <link href="${facesContext.externalContext.requestContextPath}/resources/css/logon.css" rel="stylesheet" type="text/css" />
            <div id="login">

                <p:outputPanel id="msg">
                    <p:outputPanel rendered="#{loginController.loginMensaje}">
                        <p class="error">
                            <!--
                            Oops!
                            Su contraseña es invalida
                            -->
                            #{loginController.msg}
                        </p>
                    </p:outputPanel>
                </p:outputPanel>


                <h:form id="loginform">
                    <p>
                        <label for="user_login">
                            Nombre de usuario<br></br>
                            <p:inputText id="user_login"
                                         value="#{loginController.username}"
                                         styleClass="input"
                                         size="20"
                                         tabindex="10"/>

                        </label>
                    </p>
                    <p>
                        <label for="user_pass">
                            Contraseña<br></br>
                            <p:password value="#{loginController.password}"
                                        id="user_pass" 
                                        styleClass="input" 
                                        size="20" 
                                        tabindex="20"/>

                        </label>
                    </p>
                    <p class="forgetmenot">
                        <label for="rememberme">
                            <input name="rememberme" type="checkbox" id="rememberme" value="forever" tabindex="90"/> 
                            Recuérdame
                        </label>
                    </p>
                    <p class="submit">
                        <p:commandLink action="#{loginController.iniciarSession()}"
                                       id="submit" 
                                       styleClass="button-primary" 
                                       value="Acceder" 
                                       tabindex="100"
                                       update=":msg"/>
                    </p>
                </h:form>

                <p id="nav">
                    <a href="#" title="Recupera tu contraseña perdida">Recordar contraseña</a>
                </p> 
            </div>
            <div class="clear"></div>
        </ui:define>
    </ui:composition>
</html>
