<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition template="/templates/template.xhtml">


        <ui:define name="content">

            <link rel="stylesheet" href="resources/js/openlayers-v3.1.1/css/ol.css" type="text/css"/>


            <div id="map" class="map"></div>


            <button id="pan-to-london">Pan to London</button>
            <button id="fly-to-bern">Fly to Bern</button>


            
            <script src="resources/js/openlayers-v3.1.1/resources/jquery.min.js" type="text/javascript"></script>
            <script src="resources/js/openlayers-v3.1.1/examples/loader.js?id=animation" type="text/javascript"></script>
        </ui:define>
    </ui:composition>
</html>
