<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:composition template="/templates/template_secure.xhtml"> 
        <ui:define name="content">

            <link href="${facesContext.externalContext.requestContextPath}/resources/css/component_multi_level.css" rel="stylesheet" type="text/css" />
            <link href="${facesContext.externalContext.requestContextPath}/resources/css/multi_level.css" rel="stylesheet" type="demo/css" />

            <link href="${facesContext.externalContext.requestContextPath}/resources/css/main_map.css" rel="stylesheet" type="text/css" />
            <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
            <script src="${facesContext.externalContext.requestContextPath}/resources/js/openlayers/OpenLayers.js" type="text/javascript"></script>
            <script src="${facesContext.externalContext.requestContextPath}/resources/js/map-behaviour.js" type="text/javascript"></script>

            <div class="container">
                <!-- Push Wrapper -->
                <div class="mp-pusher" id="mp-pusher">
                    <script>
                        $(document).ready(function() {
                            // Handler for .ready() called.
                            //rc();
                        })

                        function handleLoginComplete(xhr, status, args) {

                            var cname = args.nombre;
                            var cvalue = args.valor;
                            console.log(cname);
                            console.log(cvalue);
                            document.cookie = cname + "=" + cvalue+";";
                            getCookie(cname);
                        }

                        function getCookie(cname) {
                            console.log(document.cookie);
                            var name = cname + "=";
                            //var ca = document.cookie.split(';');
                            var ca = document.cookie;
                            console.log(ca);

                        }

                    </script>
                    <h:form>
                        <p:remoteCommand name="rc"  actionListener="#{homeController.findCookie}" oncomplete="handleLoginComplete(xhr, status, args);"/>
                    </h:form>


                    <!-- mp-menu -->
                    <nav id="mp-menu" class="mp-menu">
                        <div class="mp-level">
                            <h2 class="icon icon-world">Estaciones</h2>
                            <ul>
                                <h:form id="menu"
                                        prependId="false">
                                    <li class="icon icon-arrow-left">

                                        <c:forEach items="#{homeController.stationsList}"
                                                   var="est"

                                                   >

                                            <li class="icon icon-arrow-left">
                                                <p:commandLink styleClass=""
                                                               action="#{homeController.findMachines(est.estacion)}"
                                                               update="e#{est.estacion}"
                                                               global="false"
                                                               style="z-index: 10;display: block;"
                                                               value="#{est.nombre}"
                                                               >

                                                </p:commandLink>
                                                <div class="geoicon-lupa_container">
                                                    <div class="geoicon-lupa"
                                                         title="Detalles"
                                                         onclick="redirectStations('#{est.estacion}');">

                                                    </div>
                                                </div>

                                                <div class="geoicon-station_container">
                                                    <div class="geoicon-station"
                                                         title="Geolocalizar"
                                                         onclick="CenterMap('#{est.longitud}', '#{est.latitud}');">

                                                    </div>
                                                </div>



                                                <div class="mp-level" style="z-index: 1;">
                                                    <h2 class="">#{est.nombre}</h2>
                                                    <a class="mp-back" href="#">
                                                        <div class="geoicon-back"></div>
                                                    </a>
                                                    <p:outputPanel id="e#{est.estacion}">

                                                        <ul>
                                                            <c:forEach items="#{homeController.machinesList}"
                                                                       var="mac">
                                                                <li>

                                                                    <a href="#" 
                                                                       class="menu2"
                                                                       onclick="CenterMap('#{est.longitud}', '#{est.latitud}');">#{mac.nombre}</a>

                                                                </li>

                                                            </c:forEach>
                                                        </ul>
                                                    </p:outputPanel>
                                                </div>




                                            </li>

                                        </c:forEach>

                                    </li>
                                </h:form>

                            </ul>

                        </div>
                    </nav>
                    <!-- /mp-menu -->

                    <div class="scroller"><!-- this is for emulating position fixed of the nav -->
                        <div class="scroller-inner">

                            <div class="content clearfix">
                                <div class="block block-40 clearfix toogle_map">
                                    <p><a href="#" id="trigger" class="trigger">></a></p>

                                </div>

                                <div id="map" class="expand_map">            
                                </div>

                            </div>
                        </div><!-- /scroller-inner -->
                    </div><!-- /scroller -->

                </div><!-- /pusher -->
            </div><!-- /container -->

            <script>
                new mlPushMenu(document.getElementById('mp-menu'), document.getElementById('trigger'), {
                    type: 'cover'
                });

                function redirectStations(idStation) {
                    PF('statusDialog').show();
                    window.location = 'station/' + idStation;
                    return;
                }


            </script>
        </ui:define>
    </ui:composition>
</html>
