<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition template="/templates/template_secure.xhtml"> 
        <ui:define name="content">

            <link href="${facesContext.externalContext.requestContextPath}/resources/css/main_map.css" rel="stylesheet" type="text/css" />
            <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
            <script src="${facesContext.externalContext.requestContextPath}/resources/js/openlayers/OpenLayers.js" type="text/javascript"></script>
            <script src="${facesContext.externalContext.requestContextPath}/resources/js/map-behaviour.js" type="text/javascript"></script>

            <div class="container2">
                <div class="container_layers">
                <p:treeTable value="#{homeControllerOld.root}" 
                             var="doc" >
                    <p:ajax event="expand" global="false"/>
                    <p:ajax event="collapse" global="false"/>

                    <p:column>
                        <a href="#" class="#{doc.styleClass}">#{doc.name}</a>
                        
                    </p:column>
                    <p:column>
                        <p:outputPanel rendered="#{doc.viewDetails == true}">
                            <a href="${facesContext.externalContext.requestContextPath}/#{doc.urlDetails}">Ver</a>
                        </p:outputPanel>

                    </p:column>


                </p:treeTable>
            </div>
            <div class="container_map">
                
                <div id="map">            
                </div>
                
            </div>
            </div>

            



        </ui:define>

    </ui:composition>
</html>
