<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition template="/templates/template_secure.xhtml">

        <ui:define name="content">
            <div class="creartramite">
                <h2>Crear QR</h2>

                <h:form prependId="false">
                    <div class="boxed">
                        <p:messages autoUpdate="true"/>
                        <div class="registro">
                            <div class="label">Cantidad</div>
                            <div class="data" style="float: left;
                                 margin-top: 25px;">
                                <pe:inputNumber value="#{listarQrController.cantidad}"
                                                minValue="1" 
                                                required="true"
                                                requiredMessage="El campo cantidad es requerido"
                                                styleClass="input-num-captura1"
                                                style="">  
                                </pe:inputNumber>  

                            </div>
                            <p:commandLink value="Crear"
                                           update=":form_result"
                                           action="#{listarQrController.crearQr()}"
                                           style="float: left;"
                                           styleClass="guardar-qr"/>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </h:form>
            </div>
            <div style="clear: both;"></div>


            <h:form prependId="false"
                    id="form_result">


                <p:outputPanel rendered="#{(listarQrController.items.rowCount > 0) == false }">

                    <table width="100%" border="0" cellpadding="0" cellspacing="0" id="zebra">
                        <tr>
                            <td></td>
                            <td width="100%">
                                <span class="razon">No hay datos disponibles</span>
                                <span class="idqr">Por favor, inténtelo nuevamente.</span>
                                <span class="acti"></span>

                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>

                </p:outputPanel>
                <p:outputPanel id="container" rendered="#{listarQrController.items.rowCount > 0}">
                    <p:outputPanel id="table" >

                        <table width="100%" border="0" cellpadding="0" cellspacing="0" id="zebra">
                            <ui:repeat value="#{listarQrController.items}" 
                                       var="item"
                                       varStatus="status">
                                <tr>
                                    <td width="20%">
                                        <p:barcode id="bar_#{item.codigo}" styleClass="bar_#{item.codigo}" value="#{item.codigo}" type="qr" width="80" height="80"/>
                                    </td>
                                    <td width="65%">
                                        <span class="razon">
                                            <h:outputText value="#{item.codigo}"/>
                                        </span>
                                        <span class="idqr">
                                            <p:column headerText="Fecha">
                                                <h:outputText value="#{item.fechaCreacion}">
                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                </h:outputText>
                                            </p:column>
                                        </span>
                                    </td>
                                    <td width="10%">
                                        <span class="idqr">
                                            <h:outputText rendered="#{item.emerTramitesExtintorList.size()>0}" value="Asociado"/>
                                            <h:outputText rendered="#{(item.emerTramitesExtintorList.size()>0) == false}" value="Sin asociar"/>

                                        </span>
                                    </td>
                                    <td>

                                        <p:commandLink title="Imprimir"
                                                       styleClass="imprimir"
                                                       rendered="#{item.impreso}"
                                                       onclick="imprimir('#{item.id}')">
                                            <p:printer target="bar_#{item.codigo}" />
                                        </p:commandLink>

                                        <p:commandLink title="Imprimir"
                                                       styleClass="imprimir2"
                                                       rendered="#{!item.impreso}"
                                                       onclick="imprimir('#{item.id}')">
                                            <p:printer target="bar_#{item.codigo}" />
                                        </p:commandLink>

                                    </td>
                                </tr>
                            </ui:repeat>


                        </table>

                        <p:remoteCommand name="rc" 
                                         update=":container" 
                                         actionListener="#{listarQrController.marcarImpresion}" />



                        <script>
                            function imprimir(x) {
                                console.log(x);
                                rc([{name: 'id', value: x}])

                                //PrimeFaces.expressions.SearchExpressionFacade.resolveComponentsAsSelector('j_idt29:0:image').jqprint();
                                // $('.'+x).jqprint();
                                return false;

                            }
                        </script>

                    </p:outputPanel>

                    <ul class="pagination">
                        <li>
                            <p:commandLink action="#{listarQrController.previous}" 
                                           disabled="#{!listarQrController.pagination.hasPreviousPage}"
                                           update="container"
                                           >
                                <span aria-hidden="true">&laquo;</span>
                            </p:commandLink>

                        </li>
                        <li>
                            <div class="text">
                                Página #{listarQrController.pagination.page + 1} de #{listarQrController.totalPaginas}
                            </div>
                        </li>

                        <li>
                            <p:commandLink action="#{listarQrController.next}" 
                                           disabled="#{!listarQrController.pagination.hasNextPage}"
                                           update="container">
                                <span aria-hidden="true">&raquo;</span>
                            </p:commandLink>

                        </li>
                    </ul>

                </p:outputPanel>

            </h:form>

        </ui:define>
    </ui:composition>
</html>
