<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions">

    <ui:composition template="/templates/template.xhtml">

        <ui:define name="content">

            <div class="head">
                <h1>Solicitud de Trámites</h1>
            </div>
            <h2>CUERPO DE BOMBEROS OFICIAL BARRANQULLA D.E.I.P.</h2>
            <div class="loginbox">
                <h:form prependId="false"
                        id="form_login_">

                    <p>
                        <p:inputText id="username"
                                     value="#{loginController.username}"
                                     styleClass="captura1"
                                     required="true"
                                     requiredMessage="Usuario requerido"
                                     autocomplete="false"
                                     onkeypress="if (event.keyCode === 13) {
                                                 document.getElementById('btnIngresar').click();
                                                 return false;
                                             }"/>
                        <p:watermark for="username" value="Usuario"/>

                    </p>
                    <p>
                        <p:password id="password"
                                    value="#{loginController.password}"
                                    styleClass="captura1"
                                    required="true"
                                    requiredMessage="Contraseña requerida"
                                    autocomplete="false"
                                    onkeypress="if (event.keyCode === 13) {
                                                document.getElementById('btnIngresar').click();
                                                return false;
                                            }"/>
                        <p:watermark for="password" value="Contraseña"/>

                    </p>
                    <p>
                        <div class="boxed">
                            <div class="registro">

                            </div>

                            <p:commandLink id="btnIngresar" 
                                           styleClass="login" 
                                           action="#{loginController.iniciarSession()}"
                                           value="Ingresar"
                                           title="Ingresar"
                                           update="msg"
                                           >
                            </p:commandLink>


                        </div>
                    </p>

                    <p:outputPanel id="msg">
                        <p:outputPanel rendered="#{loginController.mostrarError}">
                            <p:commandLink action="#{loginController.ocultarMensaje()}"
                                           update="msg"
                                           global="false"
                                           style="text-decoration: none;">

                                <h3>Oops!
                                    <span>Inténtelo<br />
                                        de nuevo</span>
                                </h3>
                            </p:commandLink>


                        </p:outputPanel>
                    </p:outputPanel>




                </h:form>


            </div>


        </ui:define>
    </ui:composition>
</html>