<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link href="${facesContext.externalContext.requestContextPath}/resources/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="${facesContext.externalContext.requestContextPath}/resources/css/main.css" rel="stylesheet" type="text/css" />
        <link href="${facesContext.externalContext.requestContextPath}/resources/css/primefaces_custom.css" rel="stylesheet" type="text/css" />

    </h:head>
    <h:body>
        <f:view>

            <div style="padding: 10px;">

                <h:form prependId="false"
                        id="form">
                    <p:messages autoUpdate="true" closable="true"/>

                    <div class="box">
                        <div class="stack">
                            <div class="stacklabel">
                                Tipo
                            </div>


                            <span class="span1">
                                <h:selectOneMenu value="#{formularioController.tramiteRegistro.tipo}"
                                                 styleClass="input1">
                                    <f:selectItem itemLabel="Empresa" itemValue="EMPRESA"/>
                                    <f:selectItem itemLabel="Ciudadano" itemValue="CIUDADANO"/>
                                </h:selectOneMenu>
                            </span>
                        </div>


                    </div>

                    <div class="box">
                        <div class="stack">
                            <div class="stacklabel">
                                Nombre completo
                            </div>
                            <span class="span1">
                                <p:inputText value="#{formularioController.tramiteRegistro.nombre}"
                                             styleClass="input1"
                                             required="true"
                                             requiredMessage="El campo nombre es requerido"/>

                            </span>
                        </div>
                        <div class="stack">
                            <div class="stacklabel">
                                NIT / Identificación
                            </div>
                            <span class="span1">
                                <p:inputText value="#{formularioController.tramiteRegistro.identificacion}"
                                             styleClass="input1"
                                             required="true"
                                             requiredMessage="El campo identificación es requerido"/>

                            </span>
                        </div>
                    </div>

                    <div class="box">
                        <div class="stack">
                            <div class="stacklabel">
                                E-mail
                            </div>
                            <span class="span1">
                                <p:inputText value="#{formularioController.tramiteRegistro.email}"
                                             styleClass="input1"
                                             required="true"
                                             requiredMessage="El campo email es requerido"/>

                            </span>
                        </div>

                        <div class="stack">
                            <div class="stacklabel">
                                Asunto
                            </div>
                            <span class="span1">
                                <p:inputText value="#{formularioController.tramiteRegistro.asunto}"
                                             styleClass="input1"
                                             required="true"
                                             requiredMessage="El campo asunto es requerido"/>

                            </span>
                        </div>
                    </div>

                    <div class="box">
                        <div class="stack">
                            <div class="stacklabel">
                                Mensaje
                            </div>
                            <span class="span1">
                                <p:inputTextarea value="#{formularioController.tramiteRegistro.mensaje}"
                                                 styleClass="input1" 
                                                 required="true"
                                                 requiredMessage="El campo mensaje es requerido"/>

                            </span>
                        </div>
                    </div>

                    <p>
                        <p:commandLink value="Enviar"
                                       styleClass="button1"
                                       action="#{formularioController.guardar()}"
                                       update=":form"/>
                    </p>
                </h:form>

            </div>
        </f:view>

    </h:body>
</html>

